In [9]:
from common_functions import google_sheets
import pandas as pd

In [16]:
data = google_sheets("Bank misr", "Data", "get")

cols_to_convert = ["Main_system","Phone", "Legal_id", "Account_number"]

for col in cols_to_convert:
    if col in data.columns:
        data[col] = data[col].apply(lambda x: str(int(x)) if pd.notnull(x) else "")
        
columns_with_prefix = ["City_code", "Reigon_code", "Doc_code", "NBA"]

for col in columns_with_prefix:
    if col in data.columns:
        data[col] = data[col].astype(str).str[1:]  # Remove first character

/home/ec2-user/service_account_key.json

In [17]:
data

,Main_system,Acronym,City,Company,Adress1,Adress2,Adress3,Adress4,City_code,Reigon_code,Phone,First_name,Last_name,Doc_code,Legal_id,NBA,Account_number
0,212325,alshams,CAIRO,alshams,Simaf Buildings,Economic Housing,Helwan District,NaN,00001,001,1008358008,Sameh,Shawki,02,28307040102331,.0,5230199000012184

In [46]:
ao_Legal_ID

'28307040102331                '

In [42]:
import csv
import sys
from datetime import datetime

# ----------------------------------------
# AM
# ----------------------------------------
data_am = google_sheets("Bank misr", "AM", "get")

cols_to_convert = ["Main_system","Phone", "Legal_id", "Account_number"]
for col in cols_to_convert:
    if col in data_am.columns:
        data_am[col] = data_am[col].apply(lambda x: str(int(x)) if pd.notnull(x) else "")
        
columns_with_prefix = ["City_code", "Reigon_code", "Doc_code", "NBA"]
for col in columns_with_prefix:
    if col in data_am.columns:
        data_am[col] = data_am[col].astype(str).str[1:]  # Remove first character

am_main_system_id = str(data_am.loc[0, "Main_system"])
am_retailer_id = f"MAXAB{am_main_system_id}"
am_no_of_accounts_linked = "001" #no_of_accounts_linked_to_merchent
am_account_number = str(data_am.loc[0, "Account_number"])
am_account_buffer = f"{am_account_number}        EGPN"
am_Branch_code = "000523" # const
am_Profile_code = "011" # const
am_Acronym = str(data_am.loc[0, "Acronym"])
am_City = "Cairo" # const
am_Company = str(data_am.loc[0, "Company"])
am_discount_code = "M07" # const
am_Acitivity_code = "0099" # const
am_Language = "ENG" #const
am_LEGAL_IDENTIFICATION = str(data_am.loc[0, "Legal_id"])
am_statment_code = "01" #const
am_SETTLEMENT_MODE = "T" #const
am_NBA = str(data_am.loc[0, "NBA"])

am_Last_name = str(data_am.loc[0, "Last_name"]).ljust(40)
am_First_name = str(data_am.loc[0, "First_name"]).ljust(40)
am_Document_code = "ID".ljust(2)
am_Legal_ID = str(data_am.loc[0, "Legal_id"]).ljust(30)
am_Owner_Address1 = str(data_am.loc[0, "Adress1"]).ljust(30)
am_Owner_Address2 = str(data_am.loc[0, "Adress2"]).ljust(30)
am_Owner_Address3 = str(data_am.loc[0, "Adress3"]).ljust(30)
am_Owner_Address4 = str(data_am.loc[0, "Adress4"]).ljust(30)
am_Owner_Zip_code = "".ljust(10)
am_Owner_city_code = str(data_am.loc[0, "City_code"]).ljust(5)
am_Owner_Region = str(data_am.loc[0, "Reigon_code"]).ljust(3)
am_Owner_Phone = str(data_am.loc[0, "Phone"]).ljust(20)
am_Owner_Phone2 = "".ljust(20)
am_Owner_Email = "".ljust(40)
am_Owner_Filler = "".ljust(100)
am_Owner_info = f"{am_Last_name}{am_First_name}{am_Document_code}{am_Legal_ID}{am_Owner_Address1}{am_Owner_Address2}{am_Owner_Address3}{am_Owner_Address4}{am_Owner_Zip_code}{am_Owner_city_code}{am_Owner_Region}{am_Owner_Phone}{am_Owner_Phone2}{am_Owner_Email}{am_Owner_Filler}"

am_Address1 = str(data_am.loc[0, "Adress1"]).ljust(30)
am_Address2 = str(data_am.loc[0, "Adress2"]).ljust(30)
am_Address3 = str(data_am.loc[0, "Adress3"]).ljust(30)
am_Address4 = str(data_am.loc[0, "Adress4"]).ljust(30)
am_Zip_code = "".ljust(10)
am_city_code = str(data_am.loc[0, "City_code"]).ljust(5)
am_Region = str(data_am.loc[0, "Reigon_code"]).ljust(3)
am_Phone = str(data_am.loc[0, "Phone"]).ljust(20)
am_Phone2 = "".ljust(20)
am_Email = "".ljust(40)
am_Filler = "".ljust(100)
am_Address = f"{am_Address1}{am_Address2}{am_Address3}{am_Address4}{am_Zip_code}{am_city_code}{am_Region}{am_Phone}{am_Phone2}{am_Email}{am_Filler}"

# ----------------------------------------
# AO
# ----------------------------------------
data_ao = google_sheets("Bank misr", "AO", "get")

cols_to_convert = ["Main_system","Phone", "Legal_id", "Account_number"]
for col in cols_to_convert:
    if col in data_ao.columns:
        data_ao[col] = data_ao[col].apply(lambda x: str(int(x)) if pd.notnull(x) else "")
        
columns_with_prefix = ["City_code", "Reigon_code", "Doc_code", "NBA"]
for col in columns_with_prefix:
    if col in data_ao.columns:
        data_ao[col] = data_ao[col].astype(str).str[1:]  # Remove first character

ao_retailer_id = f"MAXAB{str(data_ao.loc[0, 'Main_system'])}"
ao_Bank_code = "011200"
ao_Outlet_name = str(data_ao.loc[0, "Outlet_name"]) if "Outlet_name" in data_ao.columns else "Maxab Outlet"
ao_acronym = str(data_ao.loc[0, "Acronym"]) if "Acronym" in data_ao.columns else "MAXAB"
ao_city = str(data_ao.loc[0, "City"]) if "City" in data_ao.columns else "Cairo"
ao_MCC = str(data_ao.loc[0, "MCC"]) if "MCC" in data_ao.columns else "5411"
ao_Currency = str(data_ao.loc[0, "Currency"]) if "Currency" in data_ao.columns else "EGP"

# Expanded AO address

ao_Address1 = str(data_ao.loc[0, "Adress1"]).ljust(30)
ao_Address2 = str(data_ao.loc[0, "Adress2"]).ljust(30)
ao_Address3 = str(data_ao.loc[0, "Adress3"]).ljust(30)
ao_Address4 = str(data_ao.loc[0, "Adress4"]).ljust(30)
ao_Zip_code = "".ljust(10)
ao_city_code = str(data_ao.loc[0, "City_code"]).ljust(5)
ao_Region = str(data_ao.loc[0, "Reigon_code"]).ljust(3)
ao_Phone = str(data_ao.loc[0, "Phone"]).ljust(20)
ao_Phone2 = "".ljust(20)
ao_Email = "".ljust(40)
ao_Filler = "".ljust(100)
ao_Address_AO = f"{ao_Address1}{ao_Address2}{ao_Address3}{ao_Address4}{ao_Zip_code}{ao_city_code}{ao_Region}{ao_Phone}{ao_Phone2}{ao_Email}{ao_Filler}"

ao_Equipment_code = str(data_ao.loc[0, "Equipment_code"]) if "Equipment_code" in data_ao.columns else "200"
ao_Equipment_no = str(data_ao.loc[0, "Equipment_no"]) if "Equipment_no" in data_ao.columns else "2"
ao_Equipment_fees = str(data_ao.loc[0, "Equipment_fees"]) if "Equipment_fees" in data_ao.columns else "100"
ao_Capture_mode = str(data_ao.loc[0, "Capture_mode"]) if "Capture_mode" in data_ao.columns else "B"
ao_Fraud_indicator = str(data_ao.loc[0, "Fraud_indicator"]) if "Fraud_indicator" in data_ao.columns else "0"
ao_Outlet_activity_code = str(data_ao.loc[0, "Outlet_activity_code"]) if "Outlet_activity_code" in data_ao.columns else "0099"
ao_Floor_limit_idx = str(data_ao.loc[0, "Floor_limit_idx"]) if "Floor_limit_idx" in data_ao.columns else "0001"
ao_NBA = str(data_ao.loc[0, "NBA"]) if "NBA" in data_ao.columns else "01"
ao_Account_number = str(data_ao.loc[0, "Account_number"]) if "Account_number" in data_ao.columns else "1270001000109999"
ao_Legal_ID = str(data_ao.loc[0, "Legal_id"]).ljust(30) if "Legal_id" in data_ao.columns else am_Legal_ID

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json

In [56]:
ref_data = google_sheets("Bank misr", "REF", "get")
hr_id = str(ref_data.iloc[-1] ["Refrence_no"])
hr_id

/home/ec2-user/service_account_key.json

'REF000000008'

In [59]:
new_hr_id = hr_id[:3] + str(int(hr_id[3:]) + 1).zfill(len(hr_id[3:]))
new_row_df = pd.DataFrame([{"Refrence_no": new_hr_id}])
google_sheets("Bank misr", "REF", "append", df=new_row_df)

/home/ec2-user/service_account_key.json

'Data is appended to the sheet successfully'

In [89]:
import csv
import sys
from datetime import datetime

my_date = datetime.now().strftime("%Y%m%d")

ref_data = google_sheets("Bank misr", "REF", "get")
hr_id = str(ref_data.iloc[-1] ["Refrence_no"])
new_hr_id = hr_id[:3] + str(int(hr_id[3:]) + 1).zfill(len(hr_id[3:]))
new_row_df = pd.DataFrame([{"Refrence_no": new_hr_id}])
google_sheets("Bank misr", "REF", "append", df=new_row_df)

ref = f"REF{hr_id}"
# ----------------------------------------
# AM
# ----------------------------------------
data_am= google_sheets("Bank misr", "AM", "get")


cols_to_convert = ["Main_system","Phone", "Legal_id", "Account_number"]
for col in cols_to_convert:
    if col in data_am.columns:
        data_am[col] = data_am[col].apply(lambda x: str(int(x)) if pd.notnull(x) else "")
        
columns_with_prefix = ["City_code", "Reigon_code", "Doc_code", "NBA"]
for col in columns_with_prefix:
    if col in data_am.columns:
        data_am[col] = data_am[col].astype(str).str[1:]  # Remove first character

am_main_system_id = str(data_am.loc[0, "Main_system"])
am_retailer_id = f"MAXAB{am_main_system_id}"
am_no_of_accounts_linked = "001" #no_of_accounts_linked_to_merchent
am_account_number = str(data_am.loc[0, "Account_number"])
am_account_buffer = f"{am_account_number}        EGPN"
am_Branch_code = "000523" # const
am_Profile_code = "011" # const
am_Acronym = str(data_am.loc[0, "Acronym"])
am_City = "Cairo" # const
am_Company = str(data_am.loc[0, "Company"])
am_discount_code = "M07" # const
am_Acitivity_code = "0099" # const
am_Language = "ENG" #const
am_LEGAL_IDENTIFICATION = str(data_am.loc[0, "Legal_id"])
am_statment_code = "01" #const
am_SETTLEMENT_MODE = "T" #const
am_NBA = str(data_am.loc[0, "NBA"])

am_Last_name = str(data_am.loc[0, "Last_name"]).ljust(40)
am_First_name = str(data_am.loc[0, "First_name"]).ljust(40)
am_Document_code = "ID".ljust(2)
am_Legal_ID = str(data_am.loc[0, "Legal_id"]).ljust(30)
am_Owner_Address1 = str(data_am.loc[0, "Adress1"]).ljust(30)
am_Owner_Address2 = str(data_am.loc[0, "Adress2"]).ljust(30)
am_Owner_Address3 = str(data_am.loc[0, "Adress3"]).ljust(30)
am_Owner_Address4 = str(data_am.loc[0, "Adress4"]).ljust(30)
am_Owner_Zip_code = "".ljust(10)
am_Owner_city_code = str(data_am.loc[0, "City_code"]).ljust(5)
am_Owner_Region = str(data_am.loc[0, "Reigon_code"]).ljust(3)
am_Owner_Phone = str(data_am.loc[0, "Phone"]).ljust(20)
am_Owner_Phone2 = "".ljust(20)
am_Owner_Email = "".ljust(40)
am_Owner_Filler = "".ljust(100)
am_Owner_info = f"{am_Last_name}{am_First_name}{am_Document_code}{am_Legal_ID}{am_Owner_Address1}{am_Owner_Address2}{am_Owner_Address3}{am_Owner_Address4}{am_Owner_Zip_code}{am_Owner_city_code}{am_Owner_Region}{am_Owner_Phone}{am_Owner_Phone2}{am_Owner_Email}{am_Owner_Filler}"

am_Address1 = str(data_am.loc[0, "Adress1"]).ljust(30)
am_Address2 = str(data_am.loc[0, "Adress2"]).ljust(30)
am_Address3 = str(data_am.loc[0, "Adress3"]).ljust(30)
am_Address4 = str(data_am.loc[0, "Adress4"]).ljust(30)
am_Zip_code = "".ljust(10)
am_city_code = str(data_am.loc[0, "City_code"]).ljust(5)
am_Region = str(data_am.loc[0, "Reigon_code"]).ljust(3)
am_Phone = str(data_am.loc[0, "Phone"]).ljust(20)
am_Phone2 = "".ljust(20)
am_Email = "".ljust(40)
am_Filler = "".ljust(100)
am_Address = f"{am_Address1}{am_Address2}{am_Address3}{am_Address4}{am_Zip_code}{am_city_code}{am_Region}{am_Phone}{am_Phone2}{am_Email}{am_Filler}"

# ----------------------------------------
# AO
# ----------------------------------------
data_ao = google_sheets("Bank misr", "AO", "get")

cols_to_convert = ["Main_system","Phone", "Legal_id", "Account_number"]
for col in cols_to_convert:
    if col in data_ao.columns:
        data_ao[col] = data_ao[col].apply(lambda x: str(int(x)) if pd.notnull(x) else "")
        
columns_with_prefix = ["City_code", "Reigon_code", "Doc_code", "NBA"]
for col in columns_with_prefix:
    if col in data_ao.columns:
        data_ao[col] = data_ao[col].astype(str).str[1:]  # Remove first character

ao_retailer_id = f"MAXAB{str(data_ao.loc[0, 'Main_system'])}"
ao_Bank_code = "011200"
ao_Outlet_name = str(data_ao.loc[0, "Outlet_name"]) if "Outlet_name" in data_ao.columns else "Maxab Outlet"
ao_acronym = str(data_ao.loc[0, "Acronym"]) if "Acronym" in data_ao.columns else "MAXAB"
ao_city = str(data_ao.loc[0, "City"]) if "City" in data_ao.columns else "Cairo"
ao_MCC = str(data_ao.loc[0, "MCC"]) if "MCC" in data_ao.columns else "5411"
ao_Currency = str(data_ao.loc[0, "Currency"]) if "Currency" in data_ao.columns else "EGP"

# Expanded AO address

ao_Address1 = str(data_ao.loc[0, "Adress1"]).ljust(30)
ao_Address2 = str(data_ao.loc[0, "Adress2"]).ljust(30)
ao_Address3 = str(data_ao.loc[0, "Adress3"]).ljust(30)
ao_Address4 = str(data_ao.loc[0, "Adress4"]).ljust(30)
ao_Zip_code = "".ljust(10)
ao_city_code = str(data_ao.loc[0, "City_code"]).ljust(5)
ao_Region = str(data_ao.loc[0, "Reigon_code"]).ljust(3)
ao_Phone = str(data_ao.loc[0, "Phone"]).ljust(20)
ao_Phone2 = "".ljust(20)
ao_Email = "".ljust(40)
ao_Filler = "".ljust(100)
ao_Address_AO = f"{ao_Address1}{ao_Address2}{ao_Address3}{ao_Address4}{ao_Zip_code}{ao_city_code}{ao_Region}{ao_Phone}{ao_Phone2}{ao_Email}{ao_Filler}"

ao_Equipment_code = str(data_ao.loc[0, "Equipment_code"]) if "Equipment_code" in data_ao.columns else "200"
ao_Equipment_no = str(data_ao.loc[0, "Equipment_no"]) if "Equipment_no" in data_ao.columns else "2"
ao_Equipment_fees = str(data_ao.loc[0, "Equipment_fees"]) if "Equipment_fees" in data_ao.columns else "100.00"
ao_Capture_mode = str(data_ao.loc[0, "Capture_mode"]) if "Capture_mode" in data_ao.columns else "B"
ao_Fraud_indicator = str(data_ao.loc[0, "Fraud_indicator"]) if "Fraud_indicator" in data_ao.columns else "0"
ao_Outlet_activity_code = str(data_ao.loc[0, "Outlet_activity_code"]) if "Outlet_activity_code" in data_ao.columns else "0099"
ao_Floor_limit_idx = str(data_ao.loc[0, "Floor_limit_idx"]) if "Floor_limit_idx" in data_ao.columns else "0001"
ao_NBA = str(data_ao.loc[0, "NBA"]) if "NBA" in data_ao.columns else "01"
ao_Account_number = str(data_ao.loc[0, "Account_number"]) if "Account_number" in data_ao.columns else "1270001000109999"
ao_Legal_ID = str(data_ao.loc[0, "Legal_id"]).ljust(30) if "Legal_id" in data_ao.columns else am_Legal_ID 



# ----------------------------------------
# AP
# ---------------------------------------
data_ap = google_sheets("Bank misr", "AP", "get")

ap_Pos_serial_number = str(data_ap.loc[0, "POS serial number"])
ap_Retailer_id = str(data_ap.loc[0, "Retailer id"])
ap_Master_pos_indcator = str(data_ap.loc[0, "Master Pos indicator"])
ap_Pos_acronym = str(data_ap.loc[0, "Pos acronym"])
ap_Pos_location = str(data_ap.loc[0, "Pos location"])
ap_City_code = str(data_ap.loc[0, "City code"])
ap_Reigon_code = str(data_ap.loc[0, "Region code"])

# (You can now use these variables in the AP row of your CSV as needed)

rows = [
    [
        "HR", ref, my_date, "", ""
    ],
    [
        "AM", am_retailer_id, am_Branch_code, am_Profile_code, am_Acronym,
        am_City, am_Company, "", am_discount_code, "", am_Acitivity_code,
        am_Address, am_Language, am_Owner_info,
        "", "", "", "", am_LEGAL_IDENTIFICATION, am_statment_code,
        am_SETTLEMENT_MODE, "", "", am_NBA, am_account_buffer, "", ""
    ],
    [
        "AO", ao_retailer_id, ao_retailer_id, ao_Bank_code, am_Branch_code,
        ao_Outlet_name, ao_acronym, ao_city, ao_MCC, ao_Currency, ao_Address_AO,"","",
          ao_Legal_ID, ao_Equipment_code, ao_Equipment_no, ao_Equipment_fees, "","", "", "","", "",
            ao_Capture_mode, "", am_statment_code, am_Language, "", ao_Fraud_indicator, ao_Outlet_activity_code, am_discount_code, "", ao_Floor_limit_idx, "", ao_NBA, ao_Account_number, "", "",
            ],
    [
        "AP", ap_Pos_serial_number, ap_Retailer_id, ao_Bank_code, am_Branch_code,
        ap_Master_pos_indcator,"","001", ap_Pos_acronym, ap_Pos_location,
        ap_City_code, ap_Reigon_code,"002", "20", "0002", "DM", "                         ",
        "L", "EGP", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", my_date, "", "T", "", "", "", "", "", "ENG", "", "", "", "", "", "", "", "", ""
    ],
    [
        "TR", "00000001", "00000001", "00000001",
        "00000000", "00000000", "00000000", "00000000",
        "00000000", "00000000", "0000003", ""
    ]
]

with open(filename, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file, delimiter=";", lineterminator="\n")
    writer.writerows(rows)

print(f"CSV file successfully written to: {filename}")

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
CSV file successfully written to: output_20250708.csv

In [47]:
data_ap = google_sheets("Bank misr", "AP", "get")
data_ap

/home/ec2-user/service_account_key.json

,POS serial number,Retailer id,Master Pos indicator,Master Pos number,Pos acronym,Pos location,Pos brand code,City code,Region code
0,1.0,212325.0,5.0,4.0,3.0,2.0,6.0,A00001,A001

In [49]:
print(data_ap.columns.tolist())

['POS serial number', 'Retailer id', 'Master Pos indicator', 'Master Pos number', 'Pos acronym', 'Pos location', 'Pos brand code', 'City code', 'Region code']