In [6]:
from common_functions import ret_metabase, google_sheets
import pandas as pd


cash_ins = ret_metabase("MOROCCO", 18908)

progress = google_sheets('Fintech Runsheet', 'Data', 'get')
progress_df = progress.iloc[1:, 2:18]  # Rows 6-9 (index 5-8), Columns G-N (index 6-12)

new_columns = [
    'Statut', 'Added at', 'Agent_assigned', 'Retailer ID', 'Name', 'Mobile',
    'Sales Order ID', 'Created at', 'Project Name', 'Description',
    'Last Recharge Date', 'Preferred Collection Method', 'Solde',
    'agent_id', 'Last Call Date', 'Priority'
]

# Make sure the number of new column names matches the number of columns in your DataFrame
progress_df.columns = new_columns

reachable_agents = progress_df[progress_df["Statut"] == "Reachable"]
reachable_agents = reachable_agents[["Agent_assigned", "Retailer ID"]]

# Merge reachable_agents with cash_ins
merged = reachable_agents.merge(
    cash_ins,
    left_on='Retailer ID',
    right_on='MAIN_SYSTEM_ID',
    how='left'
)

# Group by Agent_assigned and aggregate
result = merged.groupby('Agent_assigned').agg(
    total_retailers=('Retailer ID', 'nunique'),
    Orders=('MAIN_SYSTEM_ID', lambda x: x.notna().sum()),
    Total_Collectd_Amount=('RECHARGE_AMOUNT', 'sum')
).reset_index()


Dashboard  = google_sheets("Fintech Runsheet", "Dashboard", "get") 
correct_table = Dashboard.iloc[4:12, 6:12]

column_names = ["Agent Name", "Total Assigned",	"Total Calls Done",	"Reachable", "Orders", "Total Collected Amount"]
correct_table.columns = column_names


# Clean up the agent name columns to ensure matching works properly
correct_table['Agent Name'] = correct_table['Agent Name'].str.strip()
result['Agent_assigned'] = result['Agent_assigned'].str.strip()

# Rename columns in results to match correct_table
results_renamed = result.rename(columns={
    'Agent_assigned': 'Agent Name',
    'Orders': 'Orders',
    'Total_Collectd_Amount': 'Total Collected Amount'
})

# Merge the tables to get the updated values
correct_table_updated = correct_table.drop(columns=['Orders', 'Total Collected Amount'], errors='ignore')
correct_table_updated = correct_table_updated.merge(
    results_renamed[['Agent Name', 'Orders', 'Total Collected Amount']],
    on='Agent Name',
    how='left'
)

google_sheets("Fintech Runsheet", "live_report", 'overwrite', df = correct_table_updated)

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json

'data is added to the sheet successfully'

In [3]:
!pip install oauth2client
!pip install gspread

Collecting oauth2client
  Downloading oauth2client-4.1.3-py2.py3-none-any.whl.metadata (1.2 kB)
Collecting httplib2>=0.9.1 (from oauth2client)
  Downloading httplib2-0.22.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: pyasn1>=0.1.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from oauth2client) (0.6.1)
Collecting pyasn1-modules>=0.0.5 (from oauth2client)
  Downloading pyasn1_modules-0.4.2-py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: rsa>=3.1.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: six>=1.6.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from oauth2client) (1.17.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from httplib2>=0.9.1->oauth2client) (3.2.3)
Downloading oauth2client-4.1.3-py2.py3-none-any.whl (98 kB)
Downloading httplib2-0.22.0-py3-none-any.whl (96 kB)
Downloading pyasn1_modules-0.4.2-py3-none-any.whl (181 kB)
Installing collected packages: pyasn1-modules, httplib2, oauth2client
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [oauth2client][0m [httplib2]
Successfully installed httplib2-0.22.0 oauth2client-4.1.3 pyasn1-modules-0.4.2
Collecting gspread
  Downloading gspread-6.2.1-py3-none-any.whl.metadata (11 kB)
Collecting google-auth>=1.12.0 (from gspread)
  Downloading google_auth-2.40.3-py2.py3-none-any.whl.metadata (6.2 kB)
Collecting google-auth-oauthlib>=0.4.1 (from gspread)
  Downloading google_auth_oauthlib-1.2.2-py3-none-any.whl.metadata (2.7 kB)
Collecting cachetools<6.0,>=2.0.0 (from google-auth>=1.12.0->gspread)
  Downloading cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth>=1.12.0->gspread) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from rsa<5,>=3.1.4->google-auth>=1.12.0->gspread) (0.6.1)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib>=0.4.1->gspread)
  Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl.metadata (11 kB)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread)
  Downloading oauthlib-3.2.2-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: requests>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2025.4.26)
Downloading gspread-6.2.1-py3-none-any.whl (59 kB)
Downloading google_auth-2.40.3-py2.py3-none-any.whl (216 kB)
Downloading cachetools-5.5.2-py3-none-any.whl (10 kB)
Downloading google_auth_oauthlib-1.2.2-py3-none-any.whl (19 kB)
Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl (24 kB)
Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Installing collected packages: oauthlib, cachetools, requests-oauthlib, google-auth, google-auth-oauthlib, gspread
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [gspread]m3/6 [google-auth]
Successfully installed cachetools-5.5.2 google-auth-2.40.3 google-auth-oauthlib-1.2.2 gspread-6.2.1 oauthlib-3.2.2 requests-oauthlib-2.0.0

In [5]:
!pip install gspread_dataframe

Collecting gspread_dataframe
  Downloading gspread_dataframe-4.0.0-py2.py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: gspread>=3.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from gspread_dataframe) (6.2.1)
Requirement already satisfied: pandas>=0.24.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from gspread_dataframe) (2.2.3)
Requirement already satisfied: six>=1.12.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from gspread_dataframe) (1.17.0)
Requirement already satisfied: google-auth>=1.12.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from gspread>=3.0.0->gspread_dataframe) (2.40.3)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from gspread>=3.0.0->gspread_dataframe) (1.2.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from rsa<5,>=3.1.4->google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2.0.0)
Requirement already satisfied: numpy>=1.22.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->gspread_dataframe) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->gspread_dataframe) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->gspread_dataframe) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->gspread_dataframe) (2025.2)
Requirement already satisfied: oauthlib>=3.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2025.4.26)
Downloading gspread_dataframe-4.0.0-py2.py3-none-any.whl (9.0 kB)
Installing collected packages: gspread_dataframe
Successfully installed gspread_dataframe-4.0.0

In [2]:
cash_ins = ret_metabase("MOROCCO", 18908)

/home/ec2-user/service_account_key.json

In [3]:
cash_ins

     MAIN_SYSTEM_ID  RECHARGE_AMOUNT
0             74015            500.0
1             67744            400.0
2             39462            400.0
3             60881            303.0
4             69607            300.0
..              ...              ...
418           72744            800.0
419           68407            500.0
420           58705            600.0
421           62882            500.0
422           66783            200.0

[423 rows x 2 columns]

In [4]:
progress = google_sheets('Fintech Runsheet', 'Data', 'get')
progress_df = progress.iloc[1:, 2:18]  # Rows 6-9 (index 5-8), Columns G-N (index 6-12)

/home/ec2-user/service_account_key.json

In [5]:
print(progress_df.columns.tolist())

['06/04/2025 13:30', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']

In [6]:
new_columns = [
    'Statut', 'Added at', 'Agent_assigned', 'Retailer ID', 'Name', 'Mobile',
    'Sales Order ID', 'Created at', 'Project Name', 'Description',
    'Last Recharge Date', 'Preferred Collection Method', 'Solde',
    'agent_id', 'Last Call Date', 'Priority'
]

# Make sure the number of new column names matches the number of columns in your DataFrame
progress_df.columns = new_columns
print(progress_df.columns.tolist())

['Statut', 'Added at', 'Agent_assigned', 'Retailer ID', 'Name', 'Mobile', 'Sales Order ID', 'Created at', 'Project Name', 'Description', 'Last Recharge Date', 'Preferred Collection Method', 'Solde', 'agent_id', 'Last Call Date', 'Priority']

In [7]:
reachable_agents = progress_df[progress_df["Statut"] == "Reachable"]
reachable_agents = reachable_agents[["Agent_assigned", "Retailer ID"]]

In [8]:
reachable_agents

      Agent_assigned Retailer ID
6      Sara eljabiri       29972
10     Sara eljabiri       68664
13     Sara eljabiri        1293
14     Sara eljabiri       68019
16     Sara eljabiri        9634
..               ...         ...
744  Hafsa barkhoukh       30752
745  Hafsa barkhoukh       68711
750  Hafsa barkhoukh       17927
751  Hafsa barkhoukh       48553
752  Hafsa barkhoukh       18151

[194 rows x 2 columns]

In [9]:
# Step 1: Merge reachable_agents with cash_ins
merged = reachable_agents.merge(
    cash_ins,
    left_on='Retailer ID',
    right_on='MAIN_SYSTEM_ID',
    how='left'
)

# Step 2: Group by Agent_assigned and aggregate
result = merged.groupby('Agent_assigned').agg(
    total_retailers=('Retailer ID', 'nunique'),
    Orders=('MAIN_SYSTEM_ID', lambda x: x.notna().sum()),
    Total_Collectd_Amount=('RECHARGE_AMOUNT', 'sum')
).reset_index()

In [10]:
result

    Agent_assigned  total_retailers  Orders  Total_Collectd_Amount
0  Hafsa barkhoukh               31       7                 2750.0
1  Malika eljabiri               30       5                 1703.0
2  Meryem Mossafir               26       5                 2100.0
3   Oumaima Rahali               21       4                 1603.0
4      Samia Bakri               29       7                 2953.0
5    Sara eljabiri               30       8                 3203.0
6    Yousra Rhazi                27       5                 2100.0

In [11]:
Dashboard  = google_sheets("Fintech Runsheet", "Dashboard", "get") 
correct_table = Dashboard.iloc[4:12, 6:12]

/home/ec2-user/service_account_key.json

In [12]:
column_names = ["Agent Name", "Total Assigned",	"Total Calls Done",	"Reachable", "Orders", "Total Collected Amount"]
correct_table.columns = column_names
correct_table.head(10)

,Agent Name,Total Assigned,Total Calls Done,Reachable,Orders,Total Collected Amount
6,Sara eljabiri,114,87,30,3,1103
7,Yousra Rhazi,122,86,27,3,1100
8,Meryem Mossafir,114,80,26,5,2100
9,Samia Bakri,112,85,29,5,2450
10,Oumaima Rahali,113,80,21,0,0
11,Malika eljabiri,114,88,30,4,1403
12,Hafsa barkhoukh,114,98,31,4,1650

In [13]:
import pandas as pd

# Clean up the agent name columns to ensure matching works properly
correct_table['Agent Name'] = correct_table['Agent Name'].str.strip()
result['Agent_assigned'] = result['Agent_assigned'].str.strip()

# Rename columns in results to match correct_table
results_renamed = result.rename(columns={
    'Agent_assigned': 'Agent Name',
    'Orders': 'Orders',
    'Total_Collectd_Amount': 'Total Collected Amount'
})

# Merge the tables to get the updated values
correct_table_updated = correct_table.drop(columns=['Orders', 'Total Collected Amount'], errors='ignore')
correct_table_updated = correct_table_updated.merge(
    results_renamed[['Agent Name', 'Orders', 'Total Collected Amount']],
    on='Agent Name',
    how='left'
)

In [14]:
correct_table_updated

,Agent Name,Total Assigned,Total Calls Done,Reachable,Orders,Total Collected Amount
0,Sara eljabiri,114,87,30,8,3203.0
1,Yousra Rhazi,122,86,27,5,2100.0
2,Meryem Mossafir,114,80,26,5,2100.0
3,Samia Bakri,112,85,29,7,2953.0
4,Oumaima Rahali,113,80,21,4,1603.0
5,Malika eljabiri,114,88,30,5,1703.0
6,Hafsa barkhoukh,114,98,31,7,2750.0

In [15]:
google_sheets("Fintech Runsheet", "live_report", 'overwrite', df = correct_table_updated)

/home/ec2-user/service_account_key.json

'data is added to the sheet successfully'