In [1]:
from common_functions import ret_metabase, upload_dataframe_to_snowflake, snowflake_query, google_sheets

import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
import sqlalchemy
import psycopg2
import numpy as np
import gspread
import pytz

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

ModuleNotFoundError: No module named 'gspread'

In [3]:
my_data = ret_metabase("Morocco", 19203)
my_data

/home/ec2-user/service_account_key.json

,RETAILER_ID,NAME,MOBILE,SALES_ORDER_ID,CREATED_AT,PROJECT_NAME,DESCRIPTION,LAST_RECHARGE_DATE,PREF_COLLECTION_METHOD,LAST_CALL_DATE,BALANCE,PRIORITY
0,673965077.0,ŸàŸäÿØ,673965077,,2025-07-25,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
1,602389956.0,üòÉüòÉüòÉüòÉüòÉüòÉüòÉüòÉüòÉüòÉüòÉüòÉ,602389956,,2025-07-11,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
2,624029137.0,ÿ≥ŸÑÿßŸÖÿß,624029137,,2025-07-28,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
3,779393688.0,Abdlmoujoud Tamdaoui,779393688,,2025-07-11,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
4,752998281.0,My love mama,752998281,,2025-07-13,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
5,679370399.0,ü•∞ü•∞,679370399,,2025-07-12,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
6,644107371.0,Oussama,644107371,,2025-07-23,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
7,717099579.0,Uruklnylxj,717099579,,2025-07-24,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
8,707584994.0,..,707584994,,2025-07-13,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
9,635162649.0,Hicham,635162649,,2025-07-22,whatsapp_acquisition,Whatsapp + utilisateur int√©ress√©,,,,0,1
10,651613880.0,üòçüòçüòçüòçüòçüòç,651613880,,2025-07-28,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
11,82450.0,MEDIASOCIALY,775706141,,2025-07-28,whatsapp_acquisition,Whatsapp + d√©j√† inscrit + Hanout + utilisateur...,,,,0,2
12,702949317.0,Ho,702949317,,2025-07-22,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
13,620891355.0,Houda ‚ù§‚ù§,620891355,,2025-07-24,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
14,717543581.0,üòçü•∞khamis,717543581,,2025-07-24,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
15,633948689.0,mummrhs,633948689,,2025-07-23,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
16,782340829.0,Hytam,782340829,,2025-07-25,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
17,716546728.0,gsml91804,716546728,,2025-07-29,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
18,629592509.0,Walida,629592509,,2025-07-27,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
19,618199983.0,redouane redouaneüòÄüòÄ,618199983,,2025-07-23,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
20,622436278.0,ÿπŸÖÿ±ÿßŸÜ,622436278,,2025-07-28,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
21,68282.0,@33,678312968,,2025-07-31,whatsapp_acquisition,Whatsapp + d√©j√† inscrit + Hanout + utilisateur...,,,,0,2
22,609329358.0,123456,609329358,,2025-07-24,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
23,727123546.0,Hafida,727123546,,2025-08-29,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
24,69034.0,mohamed,639942708,,2025-07-29,whatsapp_acquisition,Whatsapp + d√©j√† inscrit + Hanout + utilisateur...,,,,0,2
25,600691354.0,omarbelaich9,600691354,,2025-07-29,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2
26,695553043.0,ÿ¥Ÿä ŸÜÿßÿ≥ ŸÉÿßŸÜŸà ÿπÿ≤ÿß.ÿ≤ ÿØÿ® ÿ®ÿ≠ÿßŸÑ,695553043,,2025-07-21,whatsapp_acquisition,Whatsapp + Hanout + utilisateur potentiel,,,,0,2

In [4]:
my_data = ret_metabase("Morocco", 10368)
my_data

/home/ec2-user/service_account_key.json

,RETAILER_ID,NAME,MOBILE,SALES_ORDER_ID,CREATED_AT,PROJECT_NAME,DESCRIPTION,LAST_RECHARGE_DATE,PREF_COLLECTION_METHOD,LAST_CALL_DATE,BALANCE,PRIORITY
0,82568,abfeljabar,705248506,,2025-09-22,marketing_acquisition,Digital Acquisition +City (si existe): 31.1847...,,,NaN,0,1
1,82560,ABDELLAH,700773539,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 34.9925...,,,NaN,0,1
2,82557,ŸÖÿ≠ŸÖÿØ ÿßŸÑÿ±ÿßŸÖŸä,670213192,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 34.3319...,,,NaN,0,1
3,82558,ÿßŸäÿ™ ÿµÿßŸÑÿ≠ ŸÑÿ≠ÿ≥ŸÜ,670794957,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 30.3474...,,,NaN,0,1
4,82563,hicham,652598603,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 33.8867...,,,NaN,0,1
5,82554,ŸÖÿ≠ŸäŸä ÿßŸÑÿØŸäŸÜ,642966433,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): Sal√©,,,NaN,0,1
6,82553,Elbaz,752565285,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,NaN,0,1
7,82562,tarik,699823685,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): Ain Har...,,,NaN,0,1
8,82555,Rachid,690385170,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 32.9296...,,,NaN,0,1
9,82566,Mohammed,750748676,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 9.46806...,,,NaN,0,1
10,82564,brahim,624948558,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 34.2369...,,,NaN,0,1
11,82565,nadif,662827522,,2025-09-21,marketing_acquisition,Digital Acquisition +City (si existe): 34.0670...,,,NaN,0,1
12,82549,ŸÖÿ≠ŸÖÿØ,696363819,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,NaN,0,1
13,82545,ŸÖŸÜÿπŸÖ,660698401,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): 33.4494...,,,NaN,0,1
14,82551,ÿ≠ŸÖŸäÿØÿ©,716675483,,2025-09-20,marketing_acquisition,"Digital Acquisition +City (si existe): 0 , 0",,,NaN,0,1
15,82534,ŸÖÿ≠ŸÖÿØ,661543522,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): 35.5792...,,,NaN,0,1
16,82550,ok,665656178,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): 32.8640...,,,NaN,0,1
17,82548,Rachid Casa,770582616,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,NaN,0,1
18,82535,ÿπÿ®ÿØÿßŸÑŸÉÿ±ŸäŸÖ ŸÉŸÑÿßŸÑŸä,665955318,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): El Jadida,,,NaN,0,1
19,82532,Youssef Islam Jarfi,782899388,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,NaN,0,1
20,82544,ŸÉÿ±ŸäŸÖ,601949784,,2025-09-20,marketing_acquisition,Digital Acquisition +City (si existe): 34.6677...,,,NaN,0,1
21,82531,Gjgjjghvbb Bjj,688661238,,2025-09-19,marketing_acquisition,Digital Acquisition +City (si existe): 32.9501...,,,NaN,0,2
22,82521,Ahmed Dior nsrani,636533760,,2025-09-19,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,NaN,0,2
23,82517,Mohamed Elbouzidi,677473020,,2025-09-18,marketing_acquisition,Digital Acquisition +City (si existe): 30.9129...,,,2025-09-19,0,2
24,82512,OSAMA,711423383,,2025-09-18,marketing_acquisition,Digital Acquisition +City (si existe): 23.7029...,,,2025-09-19,0,2
25,82482,sayf din,775542032,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 34.2229...,,,2025-09-20,0,2
26,82496,hamza,641198854,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 35.7597...,,,2025-09-19,0,2
27,82474,elibrahimi Habiba,655430459,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 30.3458...,,,2025-09-19,0,2
28,82495,hamid,705540877,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 35.6257...,,,2025-09-19,0,2
29,82472,Samir,624918058,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 34.2358...,,,2025-09-19,0,2
30,82473,abdelghni,644088496,,2025-09-17,marketing_acquisition,Digital Acquisition +City (si existe): 34.2025...,,,2025-09-20,0,2
31,82463,Hamid raisifon,702688178,,2025-09-16,marketing_acquisition,Digital Acquisition +City (si existe): 34.2153...,,,2025-09-19,0,2
32,82461,hakim,660031712,,2025-09-16,marketing_acquisition,Digital Acquisition +City (si existe): Ain Har...,,,2025-09-19,0,2
33,82465,ÿπÿ®ÿØ ÿßŸÑÿ≥ŸÑÿßŸÖ ÿ≠ÿØÿß ÿ¨ÿßŸÖÿπ,674581992,,2025-09-16,marketing_acquisition,"Digital Acquisition +City (si existe): 0 , 0",,,2025-09-19,0,2
34,82438,Abdo,679449844,,2025-09-15,marketing_acquisition,Digital Acquisition +City (si existe): Casablanca,,,2025-09-19,0,2
35,82427,ÿßŸÑŸÖŸáÿØŸä,620192858,,2025-09-15,marketing_acquisition,Digital Acquisition +City (si existe): El Jadida,,,2025-09-19,0,2
36,82369,Hamza Cherkaoui,603425068,,2025-09-12,marketing_acquisition,Digital Acquisition +City (si existe): Bouskoura,,,2025-09-19,0,3
37,82352,ŸÖÿ≥ÿ™ÿßÿ±Ÿä ÿπÿ®ÿØ ÿßŸÑÿµÿßÿØŸÇ,694900600,,2025-09-11,marketing_acquisition,Digital Acquisition +City (si existe): 34.6964...,,,2025-09-19,0,3
38,82337,lotfi lotfi,618319447,,2025-09-11,marketing_acquisition,Digital Acquisition +City (si existe): 34.2336...,,,2025-09-19,0,3
39,82340,ÿßŸÑÿπŸäÿØŸä,668420075,,2025-09-11,marketing_acquisition,Digital Acquisition +City (si existe): 31.6607...,,,2025-09-19,0,3
40,82327,ŸÖÿ≠ŸÖÿØ,776390987,,2025-09-10,marketing_acquisition,Digital Acquisition +City (si existe): 32.6285...,,,2025-09-19,0,3
41,82315,Mohamed Oublaid,718019778,,2025-09-10,marketing_acquisition,Digital Acquisition +City (si existe): 31.0015...,,,2025-09-19,0,3

In [10]:
check_df = snowflake_query("Egypt", "SELECT * FROM MATERIALIZED_VIEWS.Telesales_ecom_generated_data;", warehouse=None, columns=[], conn=None)
check_df

/home/ec2-user/service_account_key.json

,retailer_name,main_system_id,project_name,description,agent_assigned,dispatched_at,last_call,last_visit,last_order,avg_ts,mobile,priority,call_later,mp_order_count_september
0,ÿßÿ≥ŸàÿßŸÇ ÿßŸÑÿ∫Ÿàÿ±ŸäŸá,18143,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-09-07T12:32:50.034,2025-08-26T13:22:04.138,2025-08-29T20:50:49,2809.954942,01129658684,1315,None,0
1,ÿßÿ≠ŸÖÿØ ŸÅÿ™ÿ≠Ÿä,18997,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-09-03T11:07:38.068,2025-08-09T13:29:37.463,2025-08-30T15:23:16.385,2409.446635,01273210910,1348,None,0
2,ÿ¨ŸÖŸÑŸá ÿßÿ≥ŸÑÿßŸÖ Ÿà ÿ£ŸäŸÖŸÜ,861031,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-09-07T11:48:00.378,2025-09-06T12:33:04.564,2025-08-04T13:19:21.497,28800.0,01118256080,585,None,0
3,ÿ≠ÿßÿ±ÿ≥ ÿ≥ÿπÿØÿßŸÑŸÑŸá,511783,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-06-30T12:45:05.944,2025-08-11T13:02:38.443,2025-09-07T21:39:46,1635.753143,01007046029,1886,None,0
4,ÿß ŸáÿßŸÜŸä ÿßŸÑŸÖŸÜŸàŸÅŸä,845300,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-08-20T15:23:49.882,2025-09-08T13:42:46.815,2025-08-28T20:02:58.701,2706.5,01289039011,1319,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73189,ÿßŸÖ ÿπÿßÿØŸÑ,543826,marketplace reactivation,,2913.0,2025-08-20 15:30:12.181614,2025-02-05T20:42:41.028,2025-05-13T16:38:20.509,2025-05-13T13:56:27.347,1808.726667,+201228224628,1185,,0
73190,ÿßÿ≥ŸÖÿßÿπŸäŸÑ,36171,marketplace reactivation,,2913.0,2025-08-20 15:30:12.181614,2025-08-04T13:17:43.969,2025-07-20T15:52:01.417,2025-06-29T09:58:54.805,2322.280067,+201140743310,2519,,0
73191,ÿßÿ≠ŸÖÿØ ŸÖÿµÿ∑ŸÅŸä,856522,marketplace reactivation,,2913.0,2025-08-20 15:30:12.181614,2025-05-22T17:35:10.683,2025-04-15T22:54:33.725,2025-04-15T20:58:43.568,5318.0,+201080893364,3465,,0
73192,ÿ¥ÿπÿ®ÿßŸÜ ÿÆŸÑŸäŸÅŸá,410072,marketplace reactivation,,667.0,2025-08-20 15:30:12.181614,2025-06-18T18:06:16.649,2025-06-17T18:52:19.13,2025-05-11T23:53:23,1703.833333,+201228095204,1219,,0
73193,ÿßÿ≠ŸÖÿØ ÿπÿ®ÿØ ÿßŸÑÿ≠ŸÉŸäŸÖ,88272,marketplace acquisition,,1280.0,2025-08-20 15:30:12.181614,2025-04-15T16:42:55.625,2025-04-15T13:25:24.474,2025-04-15T21:40:26,1587.920917,+201017697696,2655,,0

In [10]:
check_df["MP_ORDER_COUNT_SEPTEMBER"] = 0
check_df

,retailer_name,main_system_id,project_name,description,agent_assigned,dispatched_at,last_call,last_visit,last_order,avg_ts,mobile,priority,call_later,MP_ORDER_COUNT_SEPTEMBER
0,ÿ®Ÿäÿ™ÿ± ŸÖÿßŸáÿ± ÿπÿ≤Ÿäÿ≤,125568,marketplace acquisition,,88.0,2025-09-08 10:31:36.564232,2025-08-28T14:14:21.956,2025-05-15T12:53:54.153,2025-04-16T21:37:51,1072.851333,01273527893,302,None,0
1,ÿπÿ∑ÿßÿ±Ÿá ÿßŸÑÿ≠ÿßÿ¨ ŸÖÿ≠ŸÖÿØ,1603,marketplace acquisition,,88.0,2025-09-08 10:31:36.564232,2025-08-21T14:09:19.565,2025-05-19T18:01:00.123,2025-07-28T14:40:15,2476.446333,01140177269,1061,None,0
2,ÿßÿ≠ŸÖÿØ ŸÖÿ≠ŸÖÿØ,740921,marketplace acquisition,,88.0,2025-09-08 10:31:36.564232,2025-05-27T16:27:22.548,2025-08-16T19:22:15.235,2025-05-13T13:35:56,2284.042083,01140049262,2470,None,0
3,Ÿáÿ¥ÿßŸÖ ÿßŸÑŸÖŸÜÿ™ÿ¨,74046,marketplace acquisition,,88.0,2025-09-08 10:31:36.564232,2025-06-17T17:51:54.437,2025-06-19T17:10:41.372,2025-05-17T20:34:38,1267.550417,01003354377,2768,None,0
4,ÿπŸÖ ÿπÿ®ÿßÿØŸá ÿ≠ÿ≥ŸäŸÜ,583642,marketplace acquisition,,88.0,2025-09-08 10:31:36.564232,2025-08-28T14:10:58.21,2025-04-15T20:13:14.904,2025-04-15T20:26:56,1541.416667,01001894074,215,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,ŸÖÿ≠ŸÖŸàÿØ ŸÅÿ™ÿ≠Ÿä,132315,marketplace reactivation,,3220.0,2025-08-30 11:14:21.111920,2025-05-26T14:04:03.983,2025-05-25T13:22:03.906,2025-05-12T15:00:08.353,2967.708333,01126770718,1179,None,0
69996,ŸÖÿ≠ŸÖŸàÿØ ÿßŸÑÿ≥ŸàŸäÿ≥,419048,marketplace reactivation,,3220.0,2025-08-30 11:14:21.111920,1999-02-10,2025-05-14T18:12:52.225,2025-05-14T16:18:33.946,1995.5,01002236370,1479,None,0
69997,ÿπÿ®ÿØÿßŸÑÿ±ÿ≠ŸÖŸÜ ŸäŸàÿ≥ŸÅ ÿ≠ŸÖÿßÿØŸá,809357,marketplace reactivation,,3220.0,2025-08-30 11:14:21.111920,2025-05-31T17:27:36.025,2025-08-27T17:58:56.845,2025-05-24T15:22:23.164,3052.0,01094398891,2219,None,0
69998,ŸÖÿ≠ŸÖÿØ ÿßŸÑÿ®ÿ∑ÿßŸàŸä,712620,marketplace reactivation,,3220.0,2025-08-30 11:14:21.111920,2025-05-24T13:35:44.921,2025-08-11T19:01:35.31,2025-05-06T12:43:30.281,2229.410583,01026526571,759,None,0
69999,ÿßÿ≠ŸÖÿØ ŸÜŸàŸÅŸÑ,786519,marketplace reactivation,,3220.0,2025-08-30 11:14:21.111920,2025-05-22T18:54:46.088,2025-07-28T19:46:02.444,2025-05-10T13:46:41.84,1639.666667,01207758911,825,None,0

In [4]:
# make sure column is datetime
check_df["dispatched_at"] = pd.to_datetime(check_df["dispatched_at"])

# drop rows where the date part is 2025-09-10
check_df = check_df[check_df["dispatched_at"].dt.date != pd.to_datetime("2025-09-11").date()]

In [11]:
check_df = check_df.sort_values(by="dispatched_at", ascending=False)
check_df

,retailer_name,main_system_id,project_name,description,agent_assigned,dispatched_at,last_call,last_visit,last_order,avg_ts,mobile,priority,call_later,mp_order_count_september
0,ÿßÿ≥ŸàÿßŸÇ ÿßŸÑÿ∫Ÿàÿ±ŸäŸá,18143,marketplace retention,,88.0,2025-09-11 11:45:21.506692,2025-09-07T12:32:50.034,2025-08-26T13:22:04.138,2025-08-29T20:50:49,2809.954942,01129658684,1315,None,0
2122,ÿßÿ≠ŸÖÿØ ÿßÿ®Ÿà ÿßŸÑŸÖŸÇÿßŸàŸÑ,905820,instock churned last month p2,,667.0,2025-09-11 11:45:21.506692,1999-02-10,2025-09-01T13:20:51.147,2025-08-01T10:01:58,2148.0,01142932393,1947,None,0
2124,ŸÖÿµÿ∑ŸÅŸä ÿ≠ŸÑŸÖŸä,476063,instock churned last month p2,,2913.0,2025-09-11 11:45:21.506692,2025-07-12T18:05:06.172,1999-02-10,2025-08-01T20:20:43,2233.321615,01004928178,1851,None,0
2125,ÿ¨ŸÖÿßŸÑ ÿπÿ®ÿØ ÿßŸÑŸÖÿ¨ŸäÿØ,334293,instock churned last month p2,,2913.0,2025-09-11 11:45:21.506692,2025-08-31T15:38:11.036,2025-06-30T16:45:45.685,2025-08-01T21:44:41,1405.321376,01221695022,2895,None,0
2126,ÿπŸÖ ÿπŸÖÿßÿØ,872315,instock churned last month p2,,2913.0,2025-09-11 11:45:21.506692,2025-08-25T17:45:57.721,2025-09-09T18:09:19.255,2025-08-02T15:25:34,2362.35,01017128630,1551,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70864,ÿßŸÑÿµÿßŸàŸä,338300,marketplace acquisition,,54.0,2025-08-20 15:30:12.181614,2025-01-14T18:28:54.332,2025-06-18T20:46:36.194,2025-04-08T14:57:37,1370.22145,+201142523626,1706,,0
70865,ŸÖÿµÿ∑ŸÅŸä ÿ¨ŸÖÿπÿ©,87290,marketplace acquisition,,54.0,2025-08-20 15:30:12.181614,2025-05-20T13:42:09.857,2025-08-06T15:40:35.712,2025-04-19T13:11:53,1410.079633,+201201936694,2775,,0
70866,ÿßŸÖ ŸÖÿ≠ŸÖÿØ,54651,marketplace acquisition,,54.0,2025-08-20 15:30:12.181614,2025-04-02T11:40:59.421,2025-04-02T19:26:00.155,2025-04-02T19:30:29,2092.75,+201066858242,753,,0
70867,ŸÖÿ≠ŸÖÿØ ÿßŸÑÿ≥ŸäÿØ,244012,ecom reactivation,,2839.0,2025-08-20 15:30:12.181614,2024-11-18T16:08:33.798,2025-06-14T14:53:57.915,2025-03-25T14:24:20,1855.433333,+201096119763,304,,0
73193,ÿßÿ≠ŸÖÿØ ÿπÿ®ÿØ ÿßŸÑÿ≠ŸÉŸäŸÖ,88272,marketplace acquisition,,1280.0,2025-08-20 15:30:12.181614,2025-04-15T16:42:55.625,2025-04-15T13:25:24.474,2025-04-15T21:40:26,1587.920917,+201017697696,2655,,0

In [18]:

data_add = data[["RETAILER_ID", "agent_assigned", "OFFER"]].copy()
data_add.columns = data_add.columns.str.lower()
data_add["retailer_id"] = data_add["retailer_id"].astype(int)
import pandas as pd

# make sure it's a datetime object
dispatch_time = pd.to_datetime("2025-09-03 08:04:22.906824")

# assign the new column
data_add["dispatched_at"] = dispatch_time

# convert retailer_id, agent_assigned, and offer to object (string-like)
data_add = data_add.astype({
    "retailer_id": "object",
    "agent_assigned": "object",
    "offer": "object"
})

# dispatched_at stays as datetime64[ns]


data_add

     retailer_id  agent_assigned offer              dispatched_at
0         141809    Amos Leteipa   NaN 2025-09-03 08:04:22.906824
1         207904    Amos Leteipa   NaN 2025-09-03 08:04:22.906824
2         218977    Amos Leteipa   NaN 2025-09-03 08:04:22.906824
3         132126    Amos Leteipa   NaN 2025-09-03 08:04:22.906824
4         111610    Amos Leteipa   NaN 2025-09-03 08:04:22.906824
...          ...             ...   ...                        ...
2795      129417  Betilla Kerubo   NaN 2025-09-03 08:04:22.906824
2796       97359  Betilla Kerubo   NaN 2025-09-03 08:04:22.906824
2797      110903  Betilla Kerubo   NaN 2025-09-03 08:04:22.906824
2798      195219  Betilla Kerubo   NaN 2025-09-03 08:04:22.906824
2799       97225  Betilla Kerubo   NaN 2025-09-03 08:04:22.906824

[2800 rows x 4 columns]

In [6]:
upload_dataframe_to_snowflake("Egypt", check_df, "MATERIALIZED_VIEWS", "Telesales_ecom_generated_data", "overwrite", auto_create_table=True, conn=None)

/home/ec2-user/service_account_key.json

/home/ec2-user/SageMaker/seif/common_functions.py:503: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, _, _, _ = write_pandas(

True

In [8]:
data  = google_sheets("tele_3_sep", "Main_sheet", "get")
data

/home/ec2-user/service_account_key.json

,MOBILE,NAME,RETAILER_ID,CREDIT_TO_BE_ALLOWED,LIMIT_APPROVED,POLYGON_NAME_EN,NOT_ACTIVE_SINCE,REGION_NAME,OFFER,agent_assigned,Call_status,Comments
0,743656152.0,Antony Wesaya,141809.0,0.0,0.0,Shianda,300,Kisumu,NaN,Amos Leteipa,NaN,NaN
1,726894751.0,Millicent Omondi,207904.0,0.0,14000.0,Siaya,5,Kisumu,NaN,Amos Leteipa,NaN,NaN
2,718830524.0,Titus,218977.0,6000.0,0.0,Mukumu/Shinyalu/Shavakali,28,Kisumu,NaN,Amos Leteipa,NaN,NaN
3,700014719.0,Irene Shop Musanda,132126.0,14000.0,0.0,Butere,9,Kisumu,NaN,Amos Leteipa,NaN,NaN
4,111796810.0,Janet Ooko,111610.0,0.0,0.0,Kibos,89,Kisumu,NaN,Amos Leteipa,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2795,714436284.0,Maxwell Omondi,129417.0,0.0,0.0,Nyalenda,1900-01-27 0:00:00,Kisumu,NaN,Betilla Kerubo,NaN,NaN
2796,727683039.0,Daniel Omer,97359.0,0.0,0.0,Mamboleo,1900-10-14 0:00:00,Kisumu,NaN,Betilla Kerubo,NaN,NaN
2797,711626205.0,Anisa Saidi,110903.0,0.0,5700.0,Matungu,1900-06-23 0:00:00,Kisumu,NaN,Betilla Kerubo,NaN,NaN
2798,710491001.0,MUHANDA MRKT CENTRE,195219.0,0.0,0.0,Ebuyangu,1900-08-31 0:00:00,Kisumu,NaN,Betilla Kerubo,NaN,NaN
2799,722242433.0,Jared Nyakundi,97225.0,0.0,0.0,Kisumu CBD,1900-09-29 0:00:00,Kisumu,NaN,Betilla Kerubo,NaN,NaN

In [20]:
upload_dataframe_to_snowflake("Kenya", data_add,"MATERIALIZED_VIEWS" , "task_based_am_projects", "append", auto_create_table=True, conn=None)

/home/ec2-user/service_account_key.json

/home/ec2-user/SageMaker/seif/common_functions.py:475: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, _, _, _ = write_pandas(

True

In [8]:
df = ret_metabase("EGYPT", 63954)
df

/home/ec2-user/service_account_key.json

,RETAILER_NAME,MOBILE,RETAILER_ID,TAG,LAST_ORDER,TELESALES_DEPENDENT,LAST_CALL,AVG_TS,LAST_VISIT,MP_ORDER_COUNT_SEPTEMBER,PRIORITY
0,ŸÖÿ≠ŸÖÿØ ÿπÿ®ÿØ ÿßŸÑŸáÿßÿØŸä,1068757627,71902,instock churned last month p1,2025-08-08T16:07:59,0,2025-08-26T16:15:26.59,2046.180600,2025-08-25T15:19:18.229,0,8958
1,ÿßÿ≠ŸÖÿØ ÿ±ÿ∂ÿß,1026281095,489000,instock churned last month p1,2025-08-06T12:41:40,0,2025-05-29T12:20:54.486,2046.084136,2024-08-11T15:19:55,0,8959
2,ÿßŸÑÿ¥ŸäÿÆ,1068981391,563499,instock churned last month p2,2025-08-06T17:39:32,0,2025-04-13T13:51:56.655,1970.023296,2025-02-23T21:47:19,0,8960
3,ŸÖÿ≠ŸÖÿØ ŸÖÿ≠Ÿâ ÿßŸÑÿØŸäŸÜ,1100022978,811000,marketplace reactivation,2025-07-15T16:57:01.365,0,2025-07-16T14:11:53.309,6764.000000,2025-07-15T19:52:03.31,0,8961
4,ÿßÿ≠ŸÖÿØ ÿ´ÿ±Ÿàÿ™,1060679716,561903,instock reactivation,2025-06-19T14:26:42,1,2025-07-08T16:41:12.867,1056.945800,2025-07-08T13:51:02.552,0,8962
...,...,...,...,...,...,...,...,...,...,...,...
47769,ÿπÿ∑ÿßÿ±ÿ© ÿßŸÑÿπŸÖÿØŸá,1100937850,768301,instock churned last month p1,2025-08-06T23:24:44,0,2025-07-09T19:51:18.881,2050.536890,2025-02-15T13:36:32,0,8953
47770,ÿßŸäŸÖŸÜ,1140497349,633347,instock churned last month p2,2025-08-09T01:09:04,0,2025-05-18T11:57:08.428,1970.369435,2025-07-30T17:47:00.976,0,8954
47771,ÿπŸÖÿ±Ÿà ÿ∫ÿ≤ÿßŸÑ,1119096320,20203,marketplace reactivation,2025-07-19T11:33:51.617,0,2025-07-27T14:23:26.205,7030.036459,2025-08-07T13:50:23.485,0,8955
47772,ÿßŸÖ ŸàŸÑŸäÿØ,1070622368,710138,instock reactivation,2025-06-18T18:00:34,1,2025-06-18T17:55:39.955,1058.312500,2025-06-18T17:26:19.538,0,8956
47773,ÿπŸÖŸä ŸÜÿ®ŸäŸÑ,1285748744,230401,instock active,2025-09-02T15:47:41,1,2025-09-02T15:46:02.778,2369.267539,2025-09-02T15:32:45.846,0,8957

In [ ]:
import requests
import json
import pandas as pd
from datetime import datetime, timedelta

now = datetime.now() + timedelta(hours=3)
API_KEY = "YjFkMmExOWFlN2IxNzQzYzFlMzA4YThhNmE4ZDgwZmFiNmFlNTM2ODVhODhjMzM1NjA3NWU0MWI3M2YxYTZmYw"

user_id = f"EG_retailers_{}"
# Build the PATCH body
patch_body = {
    "custom": {
        "date_dispatched_at": now.isoformat()
    }
}

# Send a PATCH to /v1/users/{userId}
url = (
    f"https://management-api.wonderpush.com/v1/users/{user_id}"
    f"?accessToken={API_KEY}"
)
headers = {"Content-Type": "application/json"}
response = requests.patch(url, headers=headers, json=patch_body)

if response.status_code in [200,201,202]:
    print(f"‚úÖ Patched string_mpproducts for user {user_id}")
else:
    print(f"‚ùå Error for {user_id}: {response.status_code} ‚Äì {response.text}")

In [8]:
def assign_data_equal_projects(df, list):
    """
    Distribute rows of a DataFrame equally among a list of agents, grouped by project name.
    Args:
        df (pd.DataFrame): DataFrame with 'project_name'
        list (list): List of agent IDs or names
    Returns
        pd.DataFrame: DataFrame with 'agent_assigned' column
    """
    df = df.sample(frac=1)  # Shuffle the data
    project_types = df['project_name'].unique()
    
    assigned_data = pd.DataFrame()
    
    for project in project_types:
        project_df = df[df['project_name'] == project]
        project_df = project_df.reset_index(drop=True)
        rows_per_agent = len(project_df) // len(list)
        remainder = len(project_df) % len(list)
        
        # Distribute rows equally
        for i, agent in enumerate(list):
            start_idx = i * rows_per_agent
            end_idx = start_idx + rows_per_agent
            agent_data = project_df.iloc[start_idx:end_idx].copy()
            agent_data['agent_assigned'] = agent
            
            # Handle remainder
            if i < remainder:
                extra_row = project_df.iloc[end_idx:end_idx+1].copy()
                extra_row['agent_assigned'] = agent
                agent_data = pd.concat([agent_data, extra_row])
            
            assigned_data = pd.concat([assigned_data, agent_data])
    
    assigned_data = assigned_data.reset_index(drop=True)
    print("Assignment by project complete.")
    return assigned_data

In [9]:
        # Get data from Metabase
        df = ret_metabase("EGYPT", 63954)
        df = df.sort_values(by="PRIORITY")
        df = df.rename(columns={"TAG": "project_name"})

        # Get agents from Google Sheets
        Agents = google_sheets("Telesales Agents Structure", "Agent", "get")
        Active_agents = Agents[Agents["status"] == "Active"]

        available_agents_list = Active_agents['eagle_eye_id'].values.tolist()
        total = len(available_agents_list) * 250
        print(f"Total leads to dispatch: {total}")

        df = df.head(total)

        # Assign data to agents
        dispatched_data = assign_data_equal_projects(df, available_agents_list)
        dispatched_data["MOBILE"] = dispatched_data["MOBILE"].astype(str)

        def format_mobile(x):
            if x.startswith("+20"):
                return "0" + x[3:]   # remove +20 and replace with 0
            elif x.startswith("0"):
                return x             # already correct
            else:
                return "0" + x       # force prepend 0 if missing

        dispatched_data["MOBILE"] = dispatched_data["MOBILE"].apply(format_mobile)

        now = datetime.now() + timedelta(hours=3)

        # Prepare data for Snowflake
        data_for_SF = dispatched_data.copy()
        data_for_SF.rename(columns={"RETAILER_ID": "main_system_id"}, inplace=True)
        data_for_SF['description'] = ''
        data_for_SF['dispatched_at'] = now
        data_for_SF = data_for_SF[["RETAILER_NAME",
            "main_system_id", "project_name", "description", "agent_assigned",
            "dispatched_at", "LAST_CALL", "LAST_VISIT", "LAST_ORDER", "AVG_TS", "MOBILE", "PRIORITY", "MP_ORDER_COUNT_SEPTEMBER"
        ]]
        
        upload_dataframe_to_snowflake("Egypt", data_for_SF, "MATERIALIZED_VIEWS", "Telesales_ecom_generated_data", "append")

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
Total leads to dispatch: 3250
Assignment by project complete.
/home/ec2-user/service_account_key.json

True

In [12]:
data_for_SF = data_for_SF.sort_values(by="MP_ORDER_COUNT_SEPTEMBER", ascending=False)
data_for_SF

,RETAILER_NAME,MAIN_SYSTEM_ID,PROJECT_NAME,DESCRIPTION,AGENT_ASSIGNED,DISPATCHED_AT,LAST_CALL,LAST_VISIT,LAST_ORDER,AVG_TS,MOBILE,PRIORITY,MP_ORDER_COUNT_SEPTEMBER
580,ŸÖÿ≠ŸÖŸàÿØ ŸÖÿ≠ŸÑ ŸÑÿ§ŸÑÿ§ÿ© ÿßŸÑŸÖÿ∑ÿ®ÿπÿ©,16329,marketplace retention,,56.0,2025-09-11 11:45:21.506692,2025-09-04T16:27:20.255,2025-08-18T19:12:26.025,2025-09-04T21:12:44.551,4377.869162,01157475299,1468,4
1712,ÿßÿ®Ÿà ÿπŸÑŸâ (ÿ≥Ÿàÿ®ÿ±ŸÖÿßÿ±ŸÉÿ™ ÿßŸÑŸÜÿ¨ŸàŸÖ),187712,instock active,,2912.0,2025-09-11 11:45:21.506692,2025-09-07T13:50:28.736,1999-02-10,2025-09-04T06:55:56.748,4272.452952,01284495555,70,3
1648,ÿπÿ®ÿØÿßŸÑÿπÿ≤Ÿäÿ≤ ÿ¨ŸÖÿßŸÑ,752949,instock active,,667.0,2025-09-11 11:45:21.506692,2025-09-07T16:34:07.483,2025-07-27T12:18:35.275,2025-09-06T11:39:49,2621.625000,01146514550,163,3
3156,ŸÖÿ≠ŸÖŸàÿØ ÿßŸÑÿ≥ŸäÿØ,408894,instock dead,,1280.0,2025-09-11 11:45:21.506692,2025-09-01T14:32:58.552,2025-09-07T15:53:33.617,2025-09-07T13:23:01.729,2050.374639,01149093007,394,3
720,ŸÖÿ≠ŸÖÿØ ÿßŸÑŸÖŸÜŸàŸÅŸâ,249621,instock churned last month p1,,54.0,2025-09-11 11:45:21.506692,2025-09-03T19:39:36.992,2025-07-31T12:28:40.851,2025-09-07T13:43:14.484,6149.532861,01090408363,306,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,ÿßÿ®Ÿà ÿ≠ŸÖÿßÿØÿ©,204977,instock churned last month p1,,2912.0,2025-09-11 11:45:21.506692,2025-09-03T13:28:30.251,2025-03-27T00:30:39.751,2025-08-02T15:30:41,1252.822767,01122116514,780,0
1091,ÿπŸÖÿ±,27430,instock churned last month p1,,2912.0,2025-09-11 11:45:21.506692,2025-02-20T13:14:18.848,2025-01-29T11:14:24,2025-08-14T14:06:29,3949.404356,01069121912,2827,0
1092,ÿ≠ŸÖÿØŸä,21163,instock churned last month p1,,2912.0,2025-09-11 11:45:21.506692,2025-08-30T13:28:37.477,2025-04-21T16:50:59.399,2025-08-05T15:27:33,1453.302100,01003804580,2252,0
1093,ÿßŸÖ ÿ≠ÿßÿ≤ŸÖ,187113,instock churned last month p1,,2912.0,2025-09-11 11:45:21.506692,2025-08-27T12:47:58.961,2025-08-26T19:12:48.66,2025-08-03T16:01:00,1227.395607,01012821163,2503,0
1081,ÿßÿ≠ŸÖÿØ ŸÅÿ™ÿ≠Ÿä,372753,instock churned last month p1,,2912.0,2025-09-11 11:45:21.506692,2025-09-07T14:37:52.223,2025-05-10T18:38:42.126,2025-08-06T14:08:20,1020.084152,01285997660,2695,0

In [30]:
dfdf = ret_metabase("egypt", )
dfdf

/home/ec2-user/service_account_key.json

,MAIN_SYSTEM_ID,RETAILER_NAME,RETAILER_MOBILE_NUMBER,PROJECT_NAME,DESCRIPTION,OFFER,REWARD,BALANCE,PRIORITY,SIGNUP_DATE
0,1063772707,ÿ≠ŸÜŸäŸÜ ÿ≠ŸÜŸäŸÜ,1063772707,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Cairo - ...,0,0,0,1,7/20/2025
1,1003755463,Kamal Bahaa,1003755463,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Alex,0,0,0,1,7/17/2025
2,1006163848,ÿ≠ÿ≥ÿßŸÖ ÿßŸÑŸÖÿ≠ŸÖŸàÿØŸä,1006163848,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Delta,0,0,0,1,7/20/2025
3,1100705977,Mahmoud M. Abbas,1100705977,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Delta,0,0,0,1,7/20/2025
4,1099571151,ÿ•Ÿêÿ≥ŸíŸÑŸéÿßŸÖŸè ÿ≠ŸÖÿØŸéŸâ,1099571151,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Alex,0,0,0,1,7/17/2025
...,...,...,...,...,...,...,...,...,...,...
778,1005072376,Mohamed Pasha,1005072376,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Delta,0,0,0,1,7/20/2025
779,1271017919,Mahmoud Zaki,1271017919,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Alex,0,0,0,1,7/20/2025
780,1220366361,1220880955,1220366361,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Cairo - ...,0,0,0,1,7/20/2025
781,1155315769,ÿßÿ¥ÿ™ŸÇÿ™ ŸÑŸÉ Ÿäÿß ÿßÿ®Ÿâ,1155315769,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Alex,0,0,0,1,7/20/2025
782,1028244745,Mahmoud Ahmed Nbwy,1028244745,Marketing Pos Acquisition,POS Acquisition Marketing - campaign: Delta,0,0,0,1,7/20/2025

In [31]:
print(dfdf.columns)

Index(['MAIN_SYSTEM_ID', 'RETAILER_NAME', 'RETAILER_MOBILE_NUMBER',
       'PROJECT_NAME', 'DESCRIPTION', 'OFFER', 'REWARD', 'BALANCE', 'PRIORITY',
       'SIGNUP_DATE'],
      dtype='object')

In [35]:
# ddf = ret_metabase("EGYPT", 63954)
ddf = ddf.sort_values(by="PRIORITY")
ddf

,RETAILER_NAME,MOBILE,RETAILER_ID,TAG,LAST_ORDER,TELESALES_DEPENDENT,LAST_CALL,AVG_TS,LAST_VISIT,MP_ORDER_COUNT_SEPTEMBER,PRIORITY,MP_ORDERS_SEPTEMBER
1165,ÿπÿ∑ÿßÿ±Ÿá ÿÆÿßŸÜ ÿßŸÑÿÆŸÑŸäŸÑŸâ,1228125310,433191,marketplace retention,2025-08-02T13:26:42.832,1,2025-09-03T17:51:36.303,3526.785744,2025-08-02T16:22:00.442,0,1,0
1166,ÿπŸÑÿßÿ°,1270477398,502570,marketplace retention,2025-08-02T10:17:37.561,1,2025-08-24T21:10:00.337,3366.612204,2025-08-09T13:01:50.31,0,2,0
1167,ÿßÿ≠ŸÖÿØ ÿ¥ŸÉÿ±Ÿä,1111625020,218567,instock churned last month p1,2025-08-02T16:48:58,1,2025-09-03T14:05:05.013,5717.262523,2025-04-26T13:50:28.488,0,3,0
1168,ÿßÿ≥ÿ≠ÿßŸÇ,1222352895,435173,marketplace retention,2025-08-02T10:21:15.707,1,2025-09-06T15:59:29.591,2919.955357,2025-09-02T17:00:00.904,0,4,0
1169,ÿπÿ®ŸàÿØÿ©,1062425853,39521,marketplace retention,2025-08-02T15:07:00.52,1,2025-08-26T18:36:40.458,2821.437473,2025-08-02T17:37:56.501,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
47404,ŸÖÿ≥ÿπÿØ,1015672455,187537,instock reactivation,2025-07-30T22:37:17,0,2025-08-26T13:32:55.417,821.336100,2025-07-30T21:30:01.7,0,47726,0
47405,Sarah,1204047090,903707,instock reactivation,2025-07-29T09:56:20,0,2025-08-14T13:28:05.832,737.500000,1999-02-10,0,47727,0
47406,ÿßŸÖ ŸÉÿ±ŸäŸÖ,1067887132,900070,instock reactivation,2025-07-28T09:33:03,0,2025-08-11T14:20:12.251,633.500000,2025-08-31T23:12:56.228,0,47728,0
47407,ÿßŸÖ ÿπÿ±ŸÅŸá,1153044216,740091,instock reactivation,2025-07-27T00:36:56,0,2024-12-26T16:50:25.141,587.687500,2025-08-30T11:59:05.784,0,47729,0
47408,ÿßŸÖ ÿπŸÖÿßÿ±,1129715048,267121,instock reactivation,2025-07-28T14:45:53,0,2025-04-05T15:01:21.338,574.571919,2025-08-16T17:24:08.038,0,47730,0

In [22]:
import pandas as pd

# Create the dummy dataset as a list of dictionaries
data = [
    {"campaign_id": 1, "objective": "increase_nmv", "supplier_id": 153, "offer_type": "sku_discounts",
     "active_base": 500, "churnedr_base": 600, "churnedo_base": 200, "comp_base": 1000,
     "total_budget": 70000, "sending_budget": 10000, "offers_budget": 60000, "consumed_budget": 1000,
     "start_at": "2025-09-11 13:00", "end_at": "2025-09-18 10:00"},
    
#     start 11/9
# end 18/9
# supplier id 153
# 2:40
# type = sku_discounts
    
#     {"campaign_id": 2, "objective": "increase_base", "supplier_id": 723, "offer_type": "brand_specific_coupon",
#      "active_base": 520, "churnedr_base": 590, "churnedo_base": 210, "comp_base": 1010,
#      "total_budget": 65000, "sending_budget": 9000, "offers_budget": 56000, "consumed_budget": 2000,
#      "start_at": "2025-06-12 09:00", "end_at": "2025-07-02 10:00"},
    
#     {"campaign_id": 3, "objective": "increase_nmv", "supplier_id": 929, "offer_type": "offers",
#      "active_base": 510, "churnedr_base": 620, "churnedo_base": 205, "comp_base": 980,
#      "total_budget": 72000, "sending_budget": 12000, "offers_budget": 60000, "consumed_budget": 1500,
#      "start_at": "2025-06-13 14:30", "end_at": "2025-07-03 11:30"},
    
#     {"campaign_id": 4, "objective": "increase_base", "supplier_id": 928, "offer_type": "offers",
#      "active_base": 530, "churnedr_base": 610, "churnedo_base": 215, "comp_base": 1020,
#      "total_budget": 68000, "sending_budget": 9500, "offers_budget": 58500, "consumed_budget": 2500,
#      "start_at": "2025-06-14 12:00", "end_at": "2025-07-04 09:45"},
    
#     {"campaign_id": 5, "objective": "increase_nmv", "supplier_id": 750, "offer_type": "quantity_discount",
#      "active_base": 540, "churnedr_base": 605, "churnedo_base": 220, "comp_base": 990,
#      "total_budget": 75000, "sending_budget": 11000, "offers_budget": 64000, "consumed_budget": 1800,
#      "start_at": "2025-06-15 10:00", "end_at": "2025-07-05 10:15"},
    
#     {"campaign_id": 6, "objective": "increase_nmv", "supplier_id": 1948, "offer_type": "offers",
#      "active_base": 560, "churnedr_base": 615, "churnedo_base": 225, "comp_base": 995,
#      "total_budget": 73000, "sending_budget": 10500, "offers_budget": 62500, "consumed_budget": 2300,
#      "start_at": "2025-06-16 08:00", "end_at": "2025-07-06 11:00"},
    
#     {"campaign_id": 7, "objective": "increase_base", "supplier_id": 728, "offer_type": "brand_specific_coupon",
#      "active_base": 570, "churnedr_base": 625, "churnedo_base": 230, "comp_base": 1015,
#      "total_budget": 67000, "sending_budget": 9500, "offers_budget": 57500, "consumed_budget": 1900,
#      "start_at": "2025-06-17 15:00", "end_at": "2025-07-07 14:00"},
    
#     {"campaign_id": 8, "objective": "increase_nmv", "supplier_id": 651, "offer_type": "sku_discounts",
#      "active_base": 580, "churnedr_base": 635, "churnedo_base": 240, "comp_base": 1030,
#      "total_budget": 74000, "sending_budget": 10000, "offers_budget": 64000, "consumed_budget": 2600,
#      "start_at": "2025-06-18 16:00", "end_at": "2025-07-08 12:00"},
    
#     {"campaign_id": 9, "objective": "increase_base", "supplier_id": 267, "offer_type": "offers",
#      "active_base": 590, "churnedr_base": 645, "churnedo_base": 250, "comp_base": 1040,
#      "total_budget": 71000, "sending_budget": 9800, "offers_budget": 61200, "consumed_budget": 2100,
#      "start_at": "2025-06-19 11:00", "end_at": "2025-07-09 09:00"},
    
#     {"campaign_id": 10, "objective": "increase_nmv", "supplier_id": 267, "offer_type": "quantity_discount",
#      "active_base": 600, "churnedr_base": 655, "churnedo_base": 260, "comp_base": 1060,
#      "total_budget": 76000, "sending_budget": 11500, "offers_budget": 64500, "consumed_budget": 3000,
#      "start_at": "2025-06-20 13:00", "end_at": "2025-07-10 13:00"},
]

# Convert to DataFrame
df = pd.DataFrame(data)

In [23]:
df

,campaign_id,objective,supplier_id,offer_type,active_base,churnedr_base,churnedo_base,comp_base,total_budget,sending_budget,offers_budget,consumed_budget,start_at,end_at
0,1,increase_nmv,153,sku_discounts,500,600,200,1000,70000,10000,60000,1000,2025-09-11 13:00,2025-09-18 10:00

In [24]:
upload_dataframe_to_snowflake("Egypt", df, "MATERIALIZED_VIEWS", "Campaign_logs", "append", auto_create_table=True, conn=None)

/home/ec2-user/service_account_key.json

True