In [3]:
from common_functions import ret_metabase, upload_dataframe_to_snowflake, snowflake_query, google_sheets, upload_dataframe_to_pg, dwh_query

import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
import sqlalchemy
import psycopg2
import numpy as np
import gspread
import pytz

In [3]:
snowflake_query("Egypt", """SELECT 
    COLUMN_NAME,
    DATA_TYPE,
    CHARACTER_MAXIMUM_LENGTH,
    NUMERIC_PRECISION,
    NUMERIC_SCALE,
    IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'MATERIALIZED_VIEWS'
  AND TABLE_NAME = 'CAMPAIGN_LOGS'
ORDER BY ORDINAL_POSITION;
""", warehouse=None, columns=[], conn=None)

/home/ec2-user/service_account_key.json

,column_name,data_type,character_maximum_length,numeric_precision,numeric_scale,is_nullable
0,CAMPAIGN_ID,NUMBER,None,38,0,YES
1,OBJECTIVE,TEXT,16777216,None,None,YES
2,SUPPLIER_ID,NUMBER,None,38,0,YES
3,OFFER_TYPE,TEXT,16777216,None,None,YES
4,ACTIVE_BASE,NUMBER,None,38,0,YES
5,CHURNEDR_BASE,NUMBER,None,38,0,YES
6,CHURNEDO_BASE,NUMBER,None,38,0,YES
7,COMP_BASE,NUMBER,None,38,0,YES
8,TOTAL_BUDGET,NUMBER,None,38,0,YES
9,SENDING_BUDGET,NUMBER,None,38,0,YES
10,OFFERS_BUDGET,NUMBER,None,38,0,YES
11,CONSUMED_BUDGET,NUMBER,None,38,0,YES
12,START_AT,TEXT,16777216,None,None,YES
13,END_AT,TEXT,16777216,None,None,YES

In [4]:
df = snowflake_query("Egypt", "select * from MATERIALIZED_VIEWS.Campaign_logs", warehouse=None, columns=[], conn=None)

/home/ec2-user/service_account_key.json

In [7]:
# Convert numeric-looking columns
num_cols = [
    "campaign_id", "supplier_id", "active_base", "churnedr_base", 
    "churnedo_base", "comp_base", "total_budget", "sending_budget", 
    "offers_budget", "consumed_budget"
]
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

# Convert dates
df["start_at"] = pd.to_datetime(df["start_at"], errors="coerce")
df["end_at"] = pd.to_datetime(df["end_at"], errors="coerce")

In [9]:
text_cols = ["objective", "offer_type", "start_at", "end_at"]

df[text_cols] = df[text_cols].astype("string")

In [12]:
# Convert start_at and end_at to pandas datetime
df["start_at"] = pd.to_datetime(df["start_at"], errors="coerce")
df["end_at"] = pd.to_datetime(df["end_at"], errors="coerce")

In [13]:
df_schema = pd.DataFrame({
    "COLUMN_NAME": df.columns,
    "DATA_TYPE": df.dtypes.astype(str).values,
    "HAS_NULLS": df.isnull().any().values
})

print(df_schema)

        COLUMN_NAME       DATA_TYPE  HAS_NULLS
0       campaign_id           int64      False
1         objective          string      False
2       supplier_id           int64      False
3        offer_type          string      False
4       active_base           int64      False
5     churnedr_base           int64      False
6     churnedo_base           int64      False
7         comp_base           int64      False
8      total_budget           int64      False
9    sending_budget           int64      False
10    offers_budget           int64      False
11  consumed_budget           int64      False
12         start_at  datetime64[ns]      False
13           end_at  datetime64[ns]      False

In [26]:
upload_dataframe_to_pg(df_pg, "Egypt", "replace","MATERIALIZED_VIEWS" ,"offer_tool_logs" , db_conn=None)

/home/ec2-user/service_account_key.json

In [25]:
import pandas as pd

df_pg = pd.DataFrame(columns=[
    "id", 
    "campaign_id", 
    "supplier_id", 
    "retailer_list", 
    "offer_type", 
    "status", 
    "start_at",
    "end_at",
])
df_pg

Empty DataFrame
Columns: [id, campaign_id, supplier_id, retailer_list, offer_type, status, start_at, end_at]
Index: []

In [6]:
dwh_query("egypt", """ALTER TABLE MATERIALIZED_VIEWS.Campaign_logs
ADD COLUMN campaign_name VARCHAR;
""", "write", columns=[], conn=None)

/home/ec2-user/service_account_key.json