In [3]:
from common_functions import google_sheets, get_secret, ret_metabase, upload_dataframe_to_snowflake
from datetime import datetime, timedelta
import os
import sqlalchemy
import requests
import psycopg2
import json
from pathlib import Path
import pandas as pd
import numpy as np
import pytz
import logging
logging.basicConfig(level=logging.WARNING)
logger = logging.getLogger(__name__)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
def assign_data_equal_projects(df, list):
    """
    Distribute rows of a DataFrame equally among a list of agents, grouped by Region name.
    Args:
        df (pd.DataFrame): DataFrame with 'Reigon_name'
        list (list): List of agent IDs or names
    Returns:
        pd.DataFrame: DataFrame with 'agent_assigned' column
    """
    df = df.sample(frac=1)  # Shuffle the data
    project_types = df['REGION_NAME'].unique()
    
    assigned_data = pd.DataFrame()
    
    for project in project_types:
        project_df = df[df['REGION_NAME'] == project]
        project_df = project_df.reset_index(drop=True)
        rows_per_agent = len(project_df) // len(list)
        remainder = len(project_df) % len(list)
        
        # Distribute rows equally
        for i, agent in enumerate(list):
            start_idx = i * rows_per_agent
            end_idx = start_idx + rows_per_agent
            agent_data = project_df.iloc[start_idx:end_idx].copy()
            agent_data['agent_assigned'] = agent
            
            # Handle remainder
            if i < remainder:
                extra_row = project_df.iloc[end_idx:end_idx+1].copy()
                extra_row['agent_assigned'] = agent
                agent_data = pd.concat([agent_data, extra_row])
            
            assigned_data = pd.concat([assigned_data, agent_data])
    
    assigned_data = assigned_data.reset_index(drop=True)
    print("Assignment by project complete.")
    return assigned_data

In [5]:
agents = google_sheets("Telesales_daily_plan", "Agents_Structuer", "get")
active_Agents = agents[agents["Status"] == "Active"]
active_agents_list = active_Agents["AD Name"].tolist()

data = ret_metabase("Kenya", 19230)
divided_data = assign_data_equal_projects(data, active_agents_list)


# google_sheets("Telesales_daily_plan", "Main_sheet", "overwrite", df=divided_data)

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
Assignment by project complete.

In [6]:
now = datetime.now() + timedelta(hours=3)

In [7]:
now

datetime.datetime(2025, 7, 30, 11, 30, 51, 423660)

In [8]:
snowflake_data = divided_data[['RETAILER_ID', 'agent_assigned', 'OFFER']]

In [9]:
snowflake_data['dispatched_at'] =  now

/tmp/ipykernel_21515/4012331295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snowflake_data['dispatched_at'] =  now

In [10]:
snowflake_data

,RETAILER_ID,agent_assigned,OFFER,dispatched_at
0,193323,Amos Leteipa,Order now with 5000 get 50 instantly!,2025-07-30 11:30:51.423660
1,39598,Amos Leteipa,Order now with 2500 get 25 instantly! Plus enj...,2025-07-30 11:30:51.423660
2,63681,Amos Leteipa,Order now with 3500 get 35 instantly! Plus enj...,2025-07-30 11:30:51.423660
3,50284,Amos Leteipa,Order now with 13500 get 135 instantly! Plus e...,2025-07-30 11:30:51.423660
4,198815,Amos Leteipa,Order now with 4500 get 35 instantly!,2025-07-30 11:30:51.423660
...,...,...,...,...
1995,118776,Betilla Kerubo,Order now with 27000 get 270 instantly!,2025-07-30 11:30:51.423660
1996,101803,Betilla Kerubo,Order now with 30000 get 300 instantly!,2025-07-30 11:30:51.423660
1997,213237,Betilla Kerubo,Order now with 10500 get 105 instantly! Plus e...,2025-07-30 11:30:51.423660
1998,125198,Betilla Kerubo,Order now with 14000 get 105 instantly! Plus e...,2025-07-30 11:30:51.423660
1999,118455,Betilla Kerubo,enjoy 3% cashback from your order split across...,2025-07-30 11:30:51.423660

In [11]:
upload_dataframe_to_snowflake(country='Kenya', df=snowflake_data, schema_name='MATERIALIZED_VIEWS' , table_name='task_based_am_projects', method='append')

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/snowflake/connector/options.py:104: UserWarning: You have an incompatible version of 'pyarrow' installed (20.0.0), please install a version that adheres to: 'pyarrow<19.0.0; extra == "pandas"'
  warn_incompatible_dep(

/home/ec2-user/service_account_key.json

True