In [1]:
from common_functions import ret_metabase, google_sheets, upload_dataframe_to_snowflake, snowflake_query, upload_dataframe_to_pg, dwh_query, get_secret
import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
# import psycopg2
import numpy as np
import gspread
import sqlalchemy
import pytz
import psycopg2

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
campaign_offers = dwh_query("egypt", "select * from materialized_views.offer_tool_logs", "read")
campaign_offers

/home/ec2-user/service_account_key.json

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
0,1,11,NaN,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Pending,2025-09-15 16:12:05,2025-09-16 02:12:05
1,2,11,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:05:20,2025-09-16 03:05:20
2,3,12,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:20:07,2025-09-16 03:20:07
3,4,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
4,5,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
5,6,14,20.0,"[189262, 600256, 42031, 40069, 652631, 21221, ...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
6,7,15,20.0,"[42031, 89747, 189262, 180832, 21221, 304614, ...",SKU_discounts,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
7,8,16,376.0,"[42031, 258853, 456325, 21221, 205682, 787231,...",SKU_discounts,Pending,2025-09-17 14:10:28,2025-09-18 00:10:28
8,9,17,739.0,"[42031, 69636, 45131, 215258, 463672, 673304, ...",SKU_discounts,Pending,2025-09-18 12:00:00,2025-09-18 22:00:00
9,11,19,110.0,"[42031, 457975, 313057, 21221, 156922, 36959, ...",SKU_discounts,Pending,2025-09-18 13:43:19,2025-09-18 23:43:19
10,10,18,110.0,"[42031, 205682, 313057, 21221, 156922, 390843,...",offers,Approved,2025-09-18 13:38:36,2025-09-18 23:38:36
11,12,20,36.0,"[468014, 152179, 42031, 220400, 21221, 697332,...",SKU_discounts,Approved,2025-09-18 17:28:55,2025-09-19 03:28:55
12,13,21,2009.0,"[667299, 26775, 42031, 205682, 651498, 25330, ...",SKU_discounts,Pending,2025-09-29 13:21:27,2025-09-29 23:21:27
13,14,22,2009.0,"[42031, 26775, 667299, 205682, 161425]",SKU_discounts,Pending,2025-09-30 12:39:29,2025-09-30 22:39:29
14,15,23,36.0,"[42031, 490006, 152179, 27968, 21221, 684024, ...",SKU_discounts,Pending,2025-10-01 16:52:06,2025-10-02 02:52:06
15,16,24,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
16,17,25,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
17,18,26,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
18,19,27,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
19,20,28,314.0,[42031],SKU_discounts,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
20,21,29,314.0,[42031],SKU_discounts,Pending,2025-10-09 12:00:00,2025-10-09 22:00:00
21,22,30,50.0,"[42031, 21221, 308201, 436175, 13746, 346292, ...",offers,Pending,2025-10-13 12:00:00,2025-10-16 12:00:00
22,23,31,50.0,"[42031, 646790, 21221, 52058, 308201, 547912, ...",SKU_discounts,Pending,2025-10-13 12:00:00,2025-10-13 22:00:00
23,24,32,50.0,"[436175, 646790, 323562, 855407, 13746, 547912...",SKU_discounts,Pending,2025-10-13 15:02:17,2025-10-14 01:02:17
24,25,33,36.0,"[669974, 362245, 34719, 154218, 20102, 697332,...",SKU_discounts,Pending,2025-10-20 12:00:00,2025-10-20 22:00:00

In [13]:
import pandas as pd
campaign_offers = campaign_offers[campaign_offers['offer_type'] == 'offers']
# Make sure end_at is a datetime column
campaign['end_at'] = pd.to_datetime(campaign['end_at'])

# Get current datetime
now = pd.Timestamp.now()

# Filter rows where end_at is in the future
campaign_ongoing = campaign[campaign['end_at'] > now]
campaign_ongoing

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
24,25,33,36.0,"[669974, 362245, 34719, 154218, 20102, 697332,...",SKU_discounts,Pending,2025-10-20 12:00:00,2025-10-20 22:00:00

In [8]:
campaign_ids = campaign_ongoing['campaign_id'].tolist()
print(campaign_ids)

[33]

In [9]:
offers_id = dwh_query("egypt", "select * from materialized_views.offer_tool_logs", "read")
offers_id

/home/ec2-user/service_account_key.json

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
0,1,11,NaN,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Pending,2025-09-15 16:12:05,2025-09-16 02:12:05
1,2,11,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:05:20,2025-09-16 03:05:20
2,3,12,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:20:07,2025-09-16 03:20:07
3,4,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
4,5,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
5,6,14,20.0,"[189262, 600256, 42031, 40069, 652631, 21221, ...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
6,7,15,20.0,"[42031, 89747, 189262, 180832, 21221, 304614, ...",SKU_discounts,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
7,8,16,376.0,"[42031, 258853, 456325, 21221, 205682, 787231,...",SKU_discounts,Pending,2025-09-17 14:10:28,2025-09-18 00:10:28
8,9,17,739.0,"[42031, 69636, 45131, 215258, 463672, 673304, ...",SKU_discounts,Pending,2025-09-18 12:00:00,2025-09-18 22:00:00
9,11,19,110.0,"[42031, 457975, 313057, 21221, 156922, 36959, ...",SKU_discounts,Pending,2025-09-18 13:43:19,2025-09-18 23:43:19
10,10,18,110.0,"[42031, 205682, 313057, 21221, 156922, 390843,...",offers,Approved,2025-09-18 13:38:36,2025-09-18 23:38:36
11,12,20,36.0,"[468014, 152179, 42031, 220400, 21221, 697332,...",SKU_discounts,Approved,2025-09-18 17:28:55,2025-09-19 03:28:55
12,13,21,2009.0,"[667299, 26775, 42031, 205682, 651498, 25330, ...",SKU_discounts,Pending,2025-09-29 13:21:27,2025-09-29 23:21:27
13,14,22,2009.0,"[42031, 26775, 667299, 205682, 161425]",SKU_discounts,Pending,2025-09-30 12:39:29,2025-09-30 22:39:29
14,15,23,36.0,"[42031, 490006, 152179, 27968, 21221, 684024, ...",SKU_discounts,Pending,2025-10-01 16:52:06,2025-10-02 02:52:06
15,16,24,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
16,17,25,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
17,18,26,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
18,19,27,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
19,20,28,314.0,[42031],SKU_discounts,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
20,21,29,314.0,[42031],SKU_discounts,Pending,2025-10-09 12:00:00,2025-10-09 22:00:00
21,22,30,50.0,"[42031, 21221, 308201, 436175, 13746, 346292, ...",offers,Pending,2025-10-13 12:00:00,2025-10-16 12:00:00
22,23,31,50.0,"[42031, 646790, 21221, 52058, 308201, 547912, ...",SKU_discounts,Pending,2025-10-13 12:00:00,2025-10-13 22:00:00
23,24,32,50.0,"[436175, 646790, 323562, 855407, 13746, 547912...",SKU_discounts,Pending,2025-10-13 15:02:17,2025-10-14 01:02:17
24,25,33,36.0,"[669974, 362245, 34719, 154218, 20102, 697332,...",SKU_discounts,Pending,2025-10-20 12:00:00,2025-10-20 22:00:00

In [10]:
offers_filtered = offers_id[offers_id['campaign_id'].isin(campaign_ids)]
offers_filtered

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
24,25,33,36.0,"[669974, 362245, 34719, 154218, 20102, 697332,...",SKU_discounts,Pending,2025-10-20 12:00:00,2025-10-20 22:00:00

In [12]:
offers_filtered['end_at'] = pd.to_datetime(offers_filtered['end_at'])

# Get current datetime
now = pd.Timestamp.now()

# Filter rows where end_at is in the future
offers_ended = offers_filtered[offers_filtered['end_at'] < now]
offers_ended

/tmp/ipykernel_21497/215201034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers_filtered['end_at'] = pd.to_datetime(offers_filtered['end_at'])

Empty DataFrame
Columns: [id, campaign_id, supplier_id, retailer_list, offer_type, status, start_at, end_at]
Index: []

In [14]:
# Extract the values from offers_ended DataFrame first
if not offers_ended.empty:
    supplier_id_value = offers_ended['supplier_id'].iloc[0]
    retailer_id_value = offers_ended['retailer_list'].iloc[0]
    print(f"Supplier ID: {supplier_id_value}")
    print(f"Retailer ID: {retailer_id_value}")
else:
    print("offers_ended is empty!")

offers_ended is empty!

In [ ]:
snowflake_query("egypt", "")