In [2]:
from common_functions import ret_metabase, google_sheets, upload_dataframe_to_snowflake, snowflake_query, upload_dataframe_to_pg, dwh_query, get_secret
import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
# import psycopg2
import numpy as np
import gspread
import sqlalchemy
import pytz
import psycopg2

In [6]:
campaign = dwh_query("egypt", "select * from materialized_views.offer_tool_logs", "read")
campaign

/home/ec2-user/service_account_key.json

,campaign_id,objective,supplier_id,offer_type,active_base,churnedr_base,churnedo_base,comp_base,total_budget,sending_budget,offers_budget,consumed_budget,start_at,end_at,campaign_name
0,1,increase_nmv,171,sku_discounts,500,600,200,1000,70000,10000,60000.0,1000.0,2025-06-11 13:00:00,2025-07-01 10:00:00,None
1,2,increase_base,723,brand_specific_coupon,520,590,210,1010,65000,9000,56000.0,2000.0,2025-06-12 09:00:00,2025-07-02 10:00:00,None
2,3,increase_nmv,929,offers,510,620,205,980,72000,12000,60000.0,1500.0,2025-06-13 14:30:00,2025-07-03 11:30:00,None
3,4,increase_base,928,offers,530,610,215,1020,68000,9500,58500.0,2500.0,2025-06-14 12:00:00,2025-07-04 09:45:00,None
4,5,increase_nmv,750,quantity_discount,540,605,220,990,75000,11000,64000.0,1800.0,2025-06-15 10:00:00,2025-07-05 10:15:00,None
5,6,increase_nmv,1948,offers,560,615,225,995,73000,10500,62500.0,2300.0,2025-06-16 08:00:00,2025-07-06 11:00:00,None
6,7,increase_base,728,brand_specific_coupon,570,625,230,1015,67000,9500,57500.0,1900.0,2025-06-17 15:00:00,2025-07-07 14:00:00,None
7,8,increase_nmv,651,sku_discounts,580,635,240,1030,74000,10000,64000.0,2600.0,2025-06-18 16:00:00,2025-07-08 12:00:00,None
8,9,increase_base,267,offers,590,645,250,1040,71000,9800,61200.0,2100.0,2025-06-19 11:00:00,2025-07-09 09:00:00,None
9,10,increase_nmv,267,quantity_discount,600,655,260,1060,76000,11500,64500.0,3000.0,2025-06-20 13:00:00,2025-07-10 13:00:00,None
10,1,increase_nmv,153,sku_discounts,500,600,200,1000,70000,10000,60000.0,1000.0,2025-09-11 13:00:00,2025-09-18 10:00:00,None
11,11,Increase_NMV,153,SKU_discounts,78,78,78,78,10000,1326,NaN,NaN,2025-09-15 15:05:21,2025-09-22 15:05:21,None
12,12,Increase_NMV,153,SKU_discounts,816,815,815,99,90000,6697,NaN,NaN,2025-09-15 15:20:35,2025-09-22 15:20:35,None
13,13,Increase_NMV,36,offers,2459,2458,2459,2459,100000,41798,58200.0,NaN,2025-09-16 16:04:36,2025-09-23 16:04:36,None
14,14,Increase_NMV,20,offers,9780,4386,3121,3407,15000000,75560,114899.0,NaN,2025-09-16 16:12:33,2025-09-23 16:12:33,None
15,15,Increase_NMV,20,SKU_discounts,15780,7480,5674,147,15000000,70430,194082.0,NaN,2025-09-16 16:13:06,2025-09-23 16:13:06,None
16,16,Increase_NMV,376,SKU_discounts,8616,11155,6434,438,1000000,77387,107222.0,NaN,2025-09-17 12:10:31,2025-09-24 12:10:31,None
17,17,Increase_NMV,739,SKU_discounts,173,172,173,5,10000,1256,8740.0,NaN,2025-09-17 17:24:31,2025-09-24 17:24:31,None
18,18,Increase_NMV,110,offers,263,262,262,262,10000,4456,5543.0,NaN,2025-09-18 11:38:36,2025-09-25 11:38:36,None
19,19,Increase_NMV,110,SKU_discounts,255,255,255,91,20000,2695,17301.0,NaN,2025-09-18 11:43:22,2025-09-25 11:43:22,Egy Turkish nmv boost
20,20,Increase_NMV,36,SKU_discounts,818,817,818,323,50000,8951,41047.0,NaN,2025-09-18 15:28:56,2025-09-25 15:28:56,Pepsi sumer deal
21,21,Increase_NMV,2009,SKU_discounts,771,771,771,117,40000,6567,33413.0,NaN,2025-09-29 11:21:29,2025-10-06 11:21:29,
22,22,Increase_NMV,2009,SKU_discounts,2,1,1,1,100,24,64.0,NaN,2025-09-30 10:39:30,2025-10-07 10:39:30,testing this one
23,23,Increase_NMV,36,SKU_discounts,150,149,149,149,10000,3280,6708.0,NaN,2025-10-01 14:52:07,2025-10-08 14:52:07,Pepsi Test Campaign
24,24,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:52:14,2025-10-14 14:52:14,pepsi man
25,25,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:56:20,2025-10-14 14:56:20,pepsi man
26,26,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:58:12,2025-10-14 14:58:12,pepsi man 2
27,27,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 15:24:25,2025-10-14 15:24:25,pepsi man (pls work)
28,28,Increase_NMV,314,SKU_discounts,1,0,0,0,50,2,23.0,NaN,2025-10-08 17:50:31,2025-10-15 17:50:31,testing
29,29,Increase_NMV,314,SKU_discounts,1,0,0,0,26,2,23.0,NaN,2025-10-08 17:55:25,2025-10-15 17:55:25,testing 2

In [8]:
import pandas as pd

# Make sure end_at is a datetime column
campaign['end_at'] = pd.to_datetime(campaign['end_at'])

# Get current datetime
now = pd.Timestamp.now()

# Filter rows where end_at is in the future
campaign_ongoing = campaign[campaign['end_at'] > now]
campaign_ongoing

,campaign_id,objective,supplier_id,offer_type,active_base,churnedr_base,churnedo_base,comp_base,total_budget,sending_budget,offers_budget,consumed_budget,start_at,end_at,campaign_name
24,24,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:52:14,2025-10-14 14:52:14,pepsi man
25,25,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:56:20,2025-10-14 14:56:20,pepsi man
26,26,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 14:58:12,2025-10-14 14:58:12,pepsi man 2
27,27,Increase_NMV,36,offers,205,204,204,204,10000,4490,5497.0,NaN,2025-10-07 15:24:25,2025-10-14 15:24:25,pepsi man (pls work)
28,28,Increase_NMV,314,SKU_discounts,1,0,0,0,50,2,23.0,NaN,2025-10-08 17:50:31,2025-10-15 17:50:31,testing
29,29,Increase_NMV,314,SKU_discounts,1,0,0,0,26,2,23.0,NaN,2025-10-08 17:55:25,2025-10-15 17:55:25,testing 2

In [10]:
campaign_ids = campaign_ongoing['campaign_id'].tolist()
print(campaign_ids)

[24, 25, 26, 27, 28, 29]

In [9]:
offers_id = dwh_query("egypt", "select * from materialized_views.offer_tool_logs", "read")
offers_id

/home/ec2-user/service_account_key.json

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
0,1,11,NaN,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Pending,2025-09-15 16:12:05,2025-09-16 02:12:05
1,2,11,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:05:20,2025-09-16 03:05:20
2,3,12,153.0,"[42031, 770467, 390843, 471035, 21221, 373805,...",SKU_discounts,Approved,2025-09-15 17:20:07,2025-09-16 03:20:07
3,4,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
4,5,13,36.0,"[42031, 187880, 152179, 220400, 21221, 600256,...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
5,6,14,20.0,"[189262, 600256, 42031, 40069, 652631, 21221, ...",offers,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
6,7,15,20.0,"[42031, 89747, 189262, 180832, 21221, 304614, ...",SKU_discounts,Pending,2025-09-17 12:00:00,2025-09-17 22:00:00
7,8,16,376.0,"[42031, 258853, 456325, 21221, 205682, 787231,...",SKU_discounts,Pending,2025-09-17 14:10:28,2025-09-18 00:10:28
8,9,17,739.0,"[42031, 69636, 45131, 215258, 463672, 673304, ...",SKU_discounts,Pending,2025-09-18 12:00:00,2025-09-18 22:00:00
9,11,19,110.0,"[42031, 457975, 313057, 21221, 156922, 36959, ...",SKU_discounts,Pending,2025-09-18 13:43:19,2025-09-18 23:43:19
10,10,18,110.0,"[42031, 205682, 313057, 21221, 156922, 390843,...",offers,Approved,2025-09-18 13:38:36,2025-09-18 23:38:36
11,12,20,36.0,"[468014, 152179, 42031, 220400, 21221, 697332,...",SKU_discounts,Approved,2025-09-18 17:28:55,2025-09-19 03:28:55
12,13,21,2009.0,"[667299, 26775, 42031, 205682, 651498, 25330, ...",SKU_discounts,Pending,2025-09-29 13:21:27,2025-09-29 23:21:27
13,14,22,2009.0,"[42031, 26775, 667299, 205682, 161425]",SKU_discounts,Pending,2025-09-30 12:39:29,2025-09-30 22:39:29
14,15,23,36.0,"[42031, 490006, 152179, 27968, 21221, 684024, ...",SKU_discounts,Pending,2025-10-01 16:52:06,2025-10-02 02:52:06
15,16,24,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
16,17,25,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
17,18,26,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
18,19,27,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
19,20,28,314.0,[42031],SKU_discounts,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
20,21,29,314.0,[42031],SKU_discounts,Pending,2025-10-09 12:00:00,2025-10-09 22:00:00

In [11]:
offers_filtered = offers_id[offers_id['campaign_id'].isin(campaign_ids)]
offers_filtered

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
15,16,24,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
16,17,25,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
17,18,26,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,NaT,NaT
18,19,27,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
19,20,28,314.0,[42031],SKU_discounts,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
20,21,29,314.0,[42031],SKU_discounts,Pending,2025-10-09 12:00:00,2025-10-09 22:00:00

In [13]:
offers_filtered['end_at'] = pd.to_datetime(offers_filtered['end_at'])

# Get current datetime
now = pd.Timestamp.now()

# Filter rows where end_at is in the future
offers_ended = offers_filtered[offers_filtered['end_at'] < now]
offers_ended

/tmp/ipykernel_23502/215201034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers_filtered['end_at'] = pd.to_datetime(offers_filtered['end_at'])

,id,campaign_id,supplier_id,retailer_list,offer_type,status,start_at,end_at
18,19,27,36.0,"[367079, 276981, 485376, 643413, 38325, 58484,...",offers,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
19,20,28,314.0,[42031],SKU_discounts,Pending,2025-10-07 17:24:24,2025-10-10 17:24:24
20,21,29,314.0,[42031],SKU_discounts,Pending,2025-10-09 12:00:00,2025-10-09 22:00:00

In [15]:
# Extract the values from offers_ended DataFrame first
if not offers_ended.empty:
    supplier_id_value = offers_ended['supplier_id'].iloc[0]
    retailer_id_value = offers_ended['retailer_list'].iloc[0]
    print(f"Supplier ID: {supplier_id_value}")
    print(f"Retailer ID: {retailer_id_value}")
else:
    print("offers_ended is empty!")

Supplier ID: 36.0
Retailer ID: [367079, 276981, 485376, 643413, 38325, 58484, 175597, 745158, 499253, 149714, 382449, 645487, 186815, 547344, 869671, 27621, 237895, 40069, 617635, 392385, 244352, 258853, 558319, 509156, 941106, 464565, 264667, 89747, 663541, 181462, 305493, 916358, 482768, 663062, 895235, 23149, 719051, 751907, 766394, 743448, 478823, 234795, 569925, 638356, 875310, 293805, 883815, 927974, 392436, 110176, 60021, 5351, 763930, 937466, 568670, 590450, 320690, 245441, 216436, 60307, 918419, 418803, 135562, 694949, 242212, 475973, 369761, 308255, 190279, 37348, 284169, 207857, 188182, 504455, 10783, 592472, 24414, 338758, 566448, 191229, 932820, 270595, 290651, 754738, 88271, 130541, 233781, 239083, 158984, 477645, 254469, 517685, 321624, 410682, 573376, 152056, 657737, 16877, 377625, 36959, 304614, 736055, 467351, 22731, 85106, 637634, 182457, 63010, 350485, 635627, 184595, 207119, 348545, 438747, 284876, 314221, 345522, 666180, 391093, 723591, 509202, 201955, 434893, 69740, 102525, 718191, 312864, 185635, 59011, 401004, 286629, 481957, 229102, 574773, 717174, 564100, 15662, 741040, 424750, 2649, 651333, 16519, 681595, 660182, 391071, 580828, 894320, 85870, 463920, 446626, 770786, 601772, 631036, 197707, 565322, 876279, 117488, 116453, 357683, 793024, 256356, 940325, 79095, 781026, 546567, 938228, 870497, 196282, 724287, 358578, 188937, 734267, 261495, 917239, 729264, 926827, 699184, 395262, 156353, 242969, 278500, 255504, 886492, 656013, 77638, 938372, 650437, 488263, 217933, 730561, 873517, 537904, 51563, 235204, 892878, 119895, 238456, 286727, 318527, 199878, 357771, 84770, 664071, 571172, 14086, 487439, 741998, 449654, 678610, 931855, 773125, 292040, 298808, 264063, 565915, 909028, 471255, 473121, 533057, 198427, 215258, 555466, 866071, 91031, 580729, 309230, 192990, 341774, 469361, 292605, 369731, 242195, 395108, 354118, 406365, 387342, 88528, 551638, 890030, 346838, 427667, 606350, 635205, 63747, 731966, 92593, 337010, 689433, 459236, 228126, 491322, 645086, 303053, 438795, 525729, 150697, 21436, 879287, 474548, 593587, 686834, 320606, 382586, 210375, 332214, 265290, 367152, 76946, 185116, 612402, 550667, 225623, 36445, 157976, 707329, 10494, 680013, 645344, 585371, 436949, 854504, 253288, 662149, 65322, 343425, 80264, 234961, 392452, 366010, 275814, 404379, 150361, 153870, 128418, 193961, 184535, 299028, 634913, 107235, 774369, 386032, 555868, 185377, 257196, 237957, 737628, 234456, 770391, 179978, 878472, 339509, 155759, 381159, 693495, 250289, 254171, 291739, 680529, 782365, 77631, 76326, 19086, 561165, 245185, 11918, 20475, 222869, 502050, 378188, 298179, 255424, 332632, 403330, 437446, 401836, 391864, 16423, 429332, 899812, 230038, 914297, 446591, 176091, 283078, 494783, 300765, 300108, 703537, 290080, 605435, 872597, 388545, 166711, 23428, 167266, 634616, 625612, 16804, 679620, 503791, 40267, 505943, 575602, 365741, 269812, 104388, 117528, 466445, 560702, 214884, 232167, 10655, 575139, 642991, 192375, 225173, 240912, 436710, 358125, 881584, 132616, 634306, 118273, 228835, 158067, 771204, 507897, 733617, 27177, 873581, 760458, 321290, 652372, 741476, 15657, 218273, 470489, 124950, 194742, 580981, 568246, 566384, 633019, 873870, 246993, 551134, 206750, 357431, 109798, 648110, 181839, 488585, 467185, 470494, 84239, 201901, 345662, 519777, 745239, 60302, 158201, 70794, 285074, 563486, 47841, 108779, 181530, 686434, 308276, 675706, 507980, 235274, 30478, 869673, 148149, 489964, 67537, 241780, 731131, 392967, 20409, 16164, 682285, 591273, 227447, 740698, 389931, 218156, 505359, 525944, 55486, 574973, 392310, 856313, 164630, 672338, 58923, 446914, 103403, 746023, 109712, 180267, 358013, 64721, 154043, 54966, 238135, 563630, 156348, 94418, 287735, 255020, 23161, 450790, 499741, 177177, 201618, 252013, 853644, 120680, 663151, 873106, 315683, 454480, 756126, 249964, 420460, 326620, 177445, 112376, 399702, 294650, 473192, 313190, 276150, 565940, 595632, 256701, 773174, 231928, 27119, 928545, 679745, 883190, 849611, 135047, 89549, 340647, 690755, 254314, 358541, 759420, 71895, 79148, 589848, 787133, 29886, 153198, 883261, 426852, 732960, 120707, 22403, 562391, 640760, 465067, 378064, 498257, 119106, 509511, 366634, 625773, 783267, 577030, 259433, 178046, 488148, 265678, 739225, 12141, 25520, 90427, 573517, 157279, 203636, 372281, 282277, 629148, 647671, 296554, 214424, 775233, 98272, 910255, 365936, 595362, 518925, 472867, 42715, 265531, 626667, 938205, 704506, 69881, 35254, 321014, 572247, 118578, 123068, 277215, 545906, 298895, 42431, 917934, 199671, 894303, 11120, 157031, 687815, 116214, 328105, 229900, 331166, 35752, 384801, 251152, 213786, 244245, 294661, 885177, 854842, 576188, 43865, 61731, 26233, 891422, 781630, 558285, 865784, 315083, 267769, 381007, 127739, 683248, 498539, 923406, 318241, 802940, 193132, 402347, 9817, 33009, 742458, 471945, 367547, 734932, 30564, 711041, 328188, 157019, 150975, 85000, 165219, 380174, 671534, 426496, 246552, 317891, 476796, 323213, 633003, 616326, 67945, 560234, 320702, 103178, 265688, 313953, 209900, 560135, 182776, 914176, 664008, 96730, 324837, 40855, 307219, 472245, 315878, 251206, 358149, 118433, 175700, 77991, 768901, 771072, 542342, 88145, 50774, 441471, 80631, 272618, 568783, 702808, 385895, 594595, 483929, 373913, 20033, 294521, 378711, 280174, 51984, 359925, 260018, 99455, 369448, 546950, 36308, 214914, 476421, 424849, 209506, 258685, 674904, 516402, 600586, 380426, 28416, 446118, 732976, 747132, 407075, 191737, 505150, 13998, 259316, 849784, 667522, 613039, 792913, 938822, 668992, 181711, 59836, 712653, 187501, 566409, 189890, 487546, 269869, 63774, 187795, 467938, 343867, 445754, 177559, 753493, 695126, 766799, 478766, 361679, 242034, 382428, 148124, 592437, 513743, 113966, 21147, 491097, 154069, 766450, 96210, 317939, 566686, 203221, 83860, 930988, 397643, 35588, 26203, 438756, 331717, 147713, 21296, 333630, 642754, 106824, 241752, 504283, 179855, 318759, 437406, 118872, 3937, 533015, 240966, 328795, 331581, 360047, 771476, 394536, 541922, 363615, 488430, 215581, 652498, 392617, 107453, 25616, 220573, 450552, 22275, 390775, 772487, 192946, 205668, 182114, 877770, 166846, 755375, 531492, 581117, 681087, 477904, 474420, 893259, 726638, 14319, 610183, 190365, 307959, 41402, 233364, 390165, 645850, 152597, 233908, 260324, 382353, 17022, 559935, 769799, 697454, 592040, 220835, 695386, 435212, 412260, 95053, 666138, 226088, 644664, 106775, 441710, 336552, 1694]

In [ ]:
snowflake_query("egypt", "")