In [3]:
from common_functions import get_secret, ret_metabase, google_sheets, dwh_query
import os
import sqlalchemy
import requests
import psycopg2
import json
from pathlib import Path
import pandas as pd
import numpy as np
import pytz
import io
from io import BytesIO

In [5]:
b_retailers = google_sheets("Fintech Runsheet", "blacklisted", "get")
blacklisted_retailers = b_retailers['Blacklisted_retailers'].dropna().astype(int).tolist()

/home/ec2-user/service_account_key.json

    Blacklisted_retailers
0                214101.0
1                663943.0
2                667569.0
3                523168.0
4                604291.0
5                523168.0
6                604291.0
7                525506.0
8                671719.0
9                266692.0
10                26115.0
11               373055.0
12               730978.0
13               730978.0
14               776454.0
15               736501.0
16               883045.0
17               931156.0

In [6]:

blacklisted_retailers

[214101,
 663943,
 667569,
 523168,
 604291,
 523168,
 604291,
 525506,
 671719,
 266692,
 26115,
 373055,
 730978,
 730978,
 776454,
 736501,
 883045,
 931156]